[2014-11-13 22:23] naranjamecanica opened #1 "Destroy?"
Is there a way to kill an instance? I looking for a lazy loader to use it on lists of images in templates rendered from ajax loaded json which will appear and disappear a lot.

[2014-11-13 23:31] #1 closed, assigned to nobody

[2014-11-28 12:18] naranjamecanica opened #3 "Error when destroyed and loading was nog finished"
I'm sorry because I'm short on time this is an rather short report:

An error occurs when an instance is destroyed when elements are still loading, because the load events are not cleaned up.

[code]

[2014-11-28 22:30] #3 closed, assigned to nobody

[2015-05-27 07:30] peritpatrio opened #5 "Not working on Internet Explorer 8"
**Steps to reproduce**

1. Open IE8
2. Go to http://verlok.github.io/lazyload/demos/simple.html
3. Images will not load

![image](https://cloud.githubusercontent.com/assets/729565/7831029/4dad2cba-045b-11e5-8163-71884a9ec049.png)

[2015-05-29 06:07] verlok commented on #5
I'm gonna check this today. Hold on!

[2015-05-29 06:11] verlok commented on #5
The bug is caused by a code refactoring that @brunoscopelliti did and we released in v1.5.0. Please download v1.4.2 from [here](https://github.com/verlok/lazyload/releases/tag/v1.4.2) if you need an immediate solution. We're going to fix this soon and release 1.5.1.

[2015-05-29 08:33] peritpatrio commented on #5
Thanks @verlok for the fast response!

[2015-05-29 08:40] peritpatrio commented on #5
I might be wrong, but it does not seem to be working in 1.4.2 either:

![image](https://cloud.githubusercontent.com/assets/729565/7879246/706cacd8-05f7-11e5-8c60-f87ec577888c.png)

[2015-05-29 08:41] peritpatrio commented on #5
If it helps, I'm using both `data-original` and `data-original-set` in the images.

[2015-05-29 13:36] verlok commented on #5
I noticed that, hold on, the fix is coming!

[2015-05-29 15:03] verlok commented on #5
Fixed! See https://github.com/verlok/lazyload/releases/tag/v1.5.1

[2015-05-31 17:38] peritpatrio commented on #5
I'm afraid that I'm still having problems:

![image](https://cloud.githubusercontent.com/assets/729565/7902944/a772fb86-07d4-11e5-9084-189829cd52bd.png)

These errors come up with when opening and scrolling `/demos/with_srcset.html` in the latest release.

[2015-06-12 22:08] justinchen opened #6 "Support for background image on a div?"
Will you add support for background-image loading on a div?

[2015-06-13 14:42] verlok commented on #6
Hello. It's not on schedule... but you can create a fork and then submit a pull request if you like... In that case we can think about taking it on board.

[2015-06-13 14:42] #6 closed

[2015-06-15 13:55] verlok commented on #5
Fixed again. Please check and close issue if you agree. https://github.com/verlok/lazyload/releases/tag/v1.5.3

[2015-06-15 13:56] verlok commented on #5
@peritpatrio waiting for your approval :)

[2015-06-15 14:01] peritpatrio commented on #5
Seems to be working now. Thank you @verlok!

[2015-06-15 14:01] #5 closed

[2015-07-06 22:35] mendelk opened #7 "Support for Horizontal Scrolls?"
It appears that the scroll event is only triggered for a vertical scroll.

Any way to get it to work for horizontal scroll areas?

[2015-07-07 21:11] verlok commented on #7
The script listens to a generic scroll event on scrollable areas, both horizontal and vertical scroll should be covered. Can you share the code on gist or codepen / jsbin?

[2015-07-07 21:55] mendelk commented on #7
Thanks for responding @verlok

Here's an example: http://codepen.io/mendel/pen/wamYyO

At least when I test, it stops loading images after the first couple.

Thanks!

[2015-07-22 14:08] verlok commented on #7
It's an error on your side. You just didn't specify the container of the scroll.

You can fix it like that:
[code]

See the [fork of your example, fixed](http://codepen.io/verlok/pen/waExWX).

Cheers!

[2015-07-22 14:08] #7 closed

[2015-08-19 15:07] hagcin opened #8 "Chrome Double Downloading Image resources."
When comparing the network tab in chrome(v44)  vs firefox (v3.9), when using this the late load script, I notice chrome almost double downloads each resource.  29 requests in firefox becomes, 56 requests in chrome...

[2015-08-23 14:58] vuongdothanhhuy opened #9 "Check for Bootstrap 3 Modal is within viewport"
Hello,

LazyLoad script seems to always return `true` when checking for Bootstrap 3 Modal dialog is within viewport or not. This leads to images within modals are always lazyloaded immediatedly after page load.

The expected behaviour is to lazyload image only when the modal display (i.e is within viewport, visually).

Here is a little jsfiddle to play with: https://jsfiddle.net/ac1d9oq2/embedded/

[2015-08-25 07:50] verloox commented on #9
Hi @vuongdothanhhuy and thanks for reporting this issue.
I took a look at your example, what is the code that you are executing when clicking the "Check" red button?
Can I see how you are instancing lazyload? Did you instance it passing the modal scrolling container in the "container" option?

[2015-08-25 07:53] verlok commented on #8
Hi @hagcin,
sometimes the Chrome inspector shows a double download if the cache is not disabled. Have you disabled Chrome's cache from its inspector first?
Otherwise, can you post a jsfiddle, jsbin, codepen example of what you are doing, so I can take a look at it?
Thank you

[2015-08-25 07:53] verlok commented on #9
Hi @vuongdothanhhuy and thanks for reporting this issue.
I took a look at your example, what is the code that you are executing when clicking the "Check" red button?
Can I see how you are instancing lazyload? Did you instance it passing the modal scrolling container in the "container" option?

[2015-08-28 09:11] bazo opened #10 "Remove grunt from dependencies"
it's already listed in dev dependencies. for normal usage grunt is not needed

[2015-09-17 13:22] #10 closed

[2015-09-17 13:23] verlok commented on #9
No reply.

[2015-09-17 13:23] #9 closed

[2015-09-17 13:23] verlok commented on #8
No reply.

[2015-10-08 16:27] frankrausch opened #13 "Clarify license?"
Awesome tool!

The license info is slightly hidden in the package.json.
Would you mind adding a LICENSE.md text file with a filled-in ISC license template so you can be properly credited?

Thanks for your great work.

[2015-10-08 16:57] verlok commented on #13
I definitely should to that.
Where can I get information of that license to choose and why, and where can I copy a template of the file you're suggesting to add?

[2015-10-08 17:02] frankrausch commented on #13
I’m no expert, but you specified the ISC license in package.json. If you did not specify it by accident, here’s a template:
https://en.wikipedia.org/wiki/ISC_license

Many people on GitHub seem to use the MIT license:
https://en.wikipedia.org/wiki/MIT_License

jQuery uses MIT, for example:
https://github.com/jquery/jquery/blob/master/LICENSE.txt

[2015-10-09 06:04] #13 closed

[2015-10-09 06:20] frankrausch commented on #13
👍

[2015-10-22 07:32] SimonSteinberger opened #14 "Empty src attributes"
Great plugin, we've featured it on https://plainjs.com/javascript/plugins/lazyload-95/ :+1:

Yet, you may want to recommend using blank pixel images instead of empty img `src` attributes. The empty attributes can have an extremely negative impact on the server. Some sources to back this up:

https://www.nczonline.net/blog/2009/11/30/empty-image-src-can-destroy-your-site/
http://stackoverflow.com/q

[2015-10-22 16:30] verlok commented on #14
Great! Thanks for featuring my work.
The reason why I'm not recommending using a pixel gif is that when you use LazyLoad with the progressive JPEG image format - to allow users see the images while loading using the `show_while_loading` option - if a pixel image is in the `src` attribute, when LazyLoad replaces its value with the proper one, the browser will just wait the full load event of the im

[2015-10-22 22:37] SimonSteinberger commented on #14
I see. I guess it would be best to just mention the potential pitfall and leave the decision up to the developer. As main developer of Pixabay.com, a site for free images an videos, I wouldn't implement an empty src attribute, because I'd worry too much about the unnecessary server requests. I'd prefer this over progressive JPEG loading.

[2015-10-23 04:54] verlok commented on #14
Cool,
I'll do this.
Thank you for the hint.
Are you going to implement it on pixabay?

--
Andrea Verlicchi
www.andreaverlicchi.eu

[2015-10-23 05:41] peritpatrio opened #15 "Images are not loaded in scrollable container"
If you have a container on a page that has fixed size and `overflow: scrolling;`, images inside this container are not lazy loaded when you scroll just the container it self. If you first scroll the container and then the whole page => images are loaded.

[2015-10-23 07:44] SimonSteinberger commented on #14
Possibly in the future, yes. Although we'd probably strip down the code to the minimum what we actually would use to keep file size small and the plugin as efficient as possible. Or maybe we'd base parts of our code on your plugin :)

[2015-10-23 08:18] verlok commented on #14
Great! :)

--
Andrea Verlicchi
www.andreaverlicchi.eu

[2016-01-05 13:56] williambout commented on #8
Same issue. Happening only in Chrome with cache disabled.

[2016-01-05 19:21] verlok commented on #8
Thank you, @williambout.
Can you post a jsfiddle, jsbin, codepen example of what you are doing, so I can take a look at it?
Thank you

[2016-01-05 20:06] williambout commented on #8
After some tests, I find out the problem disappear on pre-production server, but persist on local server.

[2016-01-05 21:30] verlok commented on #8
Good. So it's not a problem of the script I guess. Could you figure out why?

[2016-01-05 21:30] #8 closed

[2016-01-05 21:42] williambout commented on #8
I think it's a bug in Chrome since I had no issue in Safari/Firefox.
It could be related to srcset : https://code.google.com/p/chromium/issues/detail?id=526630

[2016-01-11 16:27] Cordazar opened #16 "Request: Upload as NPM package"
As the title says it would be nice if this could also be uploaded as an NPM package since not everyone goes through bower for their package needs.
Good job though, appreciate all the nice work :)

[2016-01-13 20:31] anteksiler opened #17 "Loads all images"
I am using this plugin on this staging site, which is a WordPress site: http://ftgoodlife.staging.wpengine.com/

By default, it loads all the images inside the container. Using the following options:

[code]

[2016-01-13 21:35] anteksiler commented on #17
@verlok Hi Andrea, I would appreciate you input on this.

[2016-01-14 17:03] anteksiler commented on #17
I removed the "container" attribute and this was fixed.

[2016-02-25 17:57] artursudnik opened #18 "Chrom on iPad Mini crashes"
I have serious issue while testing on iPad Mini. Page with over 100 images scrolls non smoothly. Over time it gets worse and worse, finally web browser crashes. Very basic use case with default options.

[2016-02-25 18:04] artursudnik commented on #18
Just tested that this is not related to the plugin but to the number of images on page. Chrome crashes also after removing lazyload script and initialization code.

[2016-02-25 20:24] verlok commented on #18
Can you give me more information about this? Does Safari for iOS have the same issue? What about Chrome *without* lazy load?

--
Andrea Verlicchi
www.andreaverlicchi.eu

[2016-02-25 20:30] verlok commented on #18
That's what I was trying to understand with my previous questions. How big are the images in size and weight? I suggest you to optimize them and if they already are, unload them as they exit the viewport. If the pagination of your images is not applicable

--
Andrea Verlicchi
www.andreaverlicchi.eu

[2016-02-25 20:32] #18 closed

[2016-02-25 20:33] artursudnik commented on #18
I've exactly figured out what you suggest - there are too many nonresponsive images on this page that is too big for this small device. It crashes even with no lazyload solution.

[2016-02-25 20:49] verlok commented on #18
Try making them responsive then. You can use the `srcset` and `sizes` attributes and still lazy load the images with my (awesome) script.

[Here's a repo](https://github.com/verlok/img_srcset_lazyload/blob/master/readme.md) of mine which explains exactly how to do it. Yay! ^_^

Happy coding.
Andrea

[2016-02-25 21:03] verlok commented on #18
Try making them responsive then. You can use the `srcset` and `sizes` attributes and still lazy load the images with my (awesome) script.

[Here's a repo](https://github.com/verlok/img_srcset_lazyload/blob/master/readme.md) of mine which explains exactly how to do it. Yay! ^_^

Happy coding.
Andrea

[2016-02-25 21:06] verlok commented on #17
Yes, the "container" should be used only if the scrolling container is different than the main document. For example, if you have 2 scrolling regions in your page. Sorry for the delay.

[2016-02-25 21:06] #17 closed

[2016-02-25 21:21] #16 closed

[2016-02-25 21:22] #14 closed

[2016-02-25 21:26] verlok commented on #15
Hi @peritpatrio, I must have lost this issue notification. Sorry about that.
To lazy load images inside a scrollable container, you must pass the scrollable container element in the `container` option of lazyload.
See the demos and the code [here](http://verlok.github.io/lazyload/#user-content-demos).

[2016-02-25 21:26] #15 closed

[2016-02-25 21:28] peritpatrio commented on #15
Thanks for the clarification!

[2016-02-25 21:31] SimonSteinberger commented on #14
Just to let you know: In the meantime, we do make use of your code base in Pixabay  :+1: Although, we included the blank pixel solution and added srcset support. Just minor changes - but they were necessary for our needs. Thanks a lot for your great and simple solution!

[2016-03-01 12:19] yanni4night opened #19 "Could lazyload support IFRAME?"
IFRAME is another type of resource should be lazy-loaded.

[2016-03-01 18:18] verlok commented on #19
Are you talking about images inside and iframe? Or about making iframes to gain their source attributes as they enter the viewport?

[2016-03-02 03:47] yanni4night commented on #19
Just think about https://vvo.github.io/lazyload/ ,which supports iframe lazyloading but with obscure API

[2016-03-02 05:49] verlok commented on #19
Thank you for the suggestion.
I'll take a look at the code to see if supporting iframes is easy enough to keep the code as fast and simple as it's now. I'll let you know.

[2016-03-02 14:35] verlok commented on #19
Hi @yanni4night,
I did some test and I found out that my script actually already supports iframe loading :)

To do so, you have to initialize an instance of LazyLoad using the following code.

In the HTML:

[code]

I just committed [a demo](/demos/iframes.html) inside this repo.

[2016-03-02 14:35] #19 closed

[2016-03-03 02:54] yanni4night commented on #19
I see that I have to set `show_while_loading` to `true`,or it will not work,thanks.

[2016-03-22 15:50] herrbischoff commented on #6
Hey, sorry for necro-posting. Just wanted to add a possible way I hacked together just now. Behold, ugly CoffeeScript ahead:

[code]

It's not exactly pretty but the most succinct and to-the-point solution I could come up with.

Remember, you will need to set the dimensions of the `div` elsewhere, for example with the always useful `padding-bottom: n%` (n = integer) technique.

[2016-03-22 18:19] verlok commented on #6
Thank you for letting us know!

[2016-03-22 18:47] herrbischoff commented on #6
Thank you for this script — and especially for making it Vanilla JS. jQuery is just so 2006... :sunglasses:

[2016-05-14 18:22] stalinkay opened #21 "Background-image support"
@verlok, thank you for this plugin. I believe it can even be better if you add support for background-images both in inline CSS  and in a linked stylesheet. Thank you in advance.

[2016-05-14 22:17] verlok commented on #21
Thank you. It's not what this script is meant for, but I'm open to pull requests.
If you don't feel like coding, please note that I read in other "issues" that some users were able to tweak the usage of this plugin to add support to background images without changing it.

[2016-05-14 22:17] #21 closed

[2016-05-14 22:18] stalinkay commented on #21
Ok. Cool.

[2016-05-14 22:20] verlok commented on #21
Also, you can use lazyload's events to determine when an image enters the viewport and use the callback to do pretty much what you want.

[2016-05-14 22:21] stalinkay commented on #21
Understood.

[2016-06-18 09:47] magglomag opened #25 "Does not work when container was hidden"
Hi,

Many thanks for the great plugin.

I ran into the issue when using it in a container which is by default hidden with `aria-hidden="true"` and gets visible on click (it’s an overlay) the images are not getting loaded. If I remove the `aria-hidden="true"` it works just fine.

[2016-06-18 09:56] magglomag commented on #25
Ah, I think I solved it by calling the function again when clicking on the link that changes the `aria-hidden` attribute from `true` to `false`.

[2016-06-18 12:11] verlok commented on #25
Great! I knew you could sort it out yourself! :)

[2016-06-18 12:11] #25 closed

[2016-07-06 11:10] OnlyPlanB opened #26 "Background images"
Hi and thank you for that nice script. Is it possible to lazyload backgroundimages?

thank you

[2016-07-06 11:43] verlok commented on #26
See issues #6 and #21

[2016-07-06 11:43] #26 closed

[2016-07-08 12:04] AlgyTaylor opened #27 "<noscript> element"
Heya,

Nice work! :+1:  I wrote something similar back in 2011 - http://algytaylor.blogspot.co.uk/2011/11/tgvjs-javascript-to-reduce-page-loading.html

One of the good suggestions I'd had from that was that you should add a noscript tag with the actual image, so that it works for people with JavaScript disabled (or otherwise non-working), ie:

[code]

Cheers,
Algy

[2016-07-08 12:10] verlok commented on #27
Great. Would you like to update the readme file with a pull request?

[2016-07-08 13:29] AlgyTaylor commented on #27
Done :)

[2016-07-08 13:29] #27 closed

[2016-07-15 18:38] cnanders commented on #15
First off: great work on this.  I just swapped out from Tuupola version and you are right - noticeable performance boost.

Is there a way to do lazyloading in two dimensions?  For example on this page, http://verlok.github.io/lazyload/demos/multiple_container.html the second "scrollable container" is below the fold, so it would be great to not have to load the images in the viewable part of this c

[2016-07-15 21:16] verlok commented on #15
Thank you for the compliments, much appreciated.

But wait there, to do something like Netflix or iTunes, if you have many horizontally scrollable containers, in each container it should just work like in the demo you linked above, doesn't it?

Oh I see what you want to do. Doing that the user would download "only" the first 3 images for each horizontal container, but if you have many, you still l

[2016-07-15 21:20] verlok commented on #15
Could you open a new issue titled "lazily load lazyload" with what you described here?

[2016-07-15 21:42] cnanders opened #29 "Is it possible to lazily load lazyload?"
I'm trying to build a Netflix / iTunes style browse page where there are horizontally scrollable lists of images (that have overflow-x: scroll) but then there are many  of these lists stacked vertically as you scroll down the main page (say 20 or 30)

Right now I'm triggering each overflow-x container list one as a LazyLoad instance (as you suggest here http://verlok.github.io/lazyload/demos/multi

[2016-07-15 21:44] cnanders commented on #15
Thank you, @verlok! I posted the the [new issue](https://github.com/verlok/lazyload/issues/29) as you requested.

[2016-07-15 22:16] cnanders commented on #29
fwiw, [lazy-load-xt](https://github.com/ressio/lazy-load-xt) does this out of the box.  It uses jQuery, however, so I'm not sure it will have the same performance as this codebase.  I'm testing now.

[2016-07-25 12:41] akroii opened #30 "Uncaught TypeError: Cannot read property 'classList' of null"
I'am using

**jQuery 2.1.4**
* Swipe 2.0
* jQuery FocusPoint; version: 1.1.1
*  jQuery mmenu v4.7.5
+ jQuery mmenu offCanvas addon
* respimage polyfill

[code]

--> `_supportsClassList = !!document.body.classList;`

[2016-07-25 13:12] akroii commented on #30
you need add the options in the footer

[2016-07-25 13:32] akroii commented on #30
hmm Cannot read property 'querySelectorAll' of null
in line: `this._elements = _convertToArray(this._queryOriginNode.querySelectorAll(this._settings.elements_selector));`

[2016-07-25 17:10] verlok commented on #30
Can you detail what is your HTML and JS code like? If you don't, I can't debug my script.

--
Andrea Verlicchi
www.andreaverlicchi.eu

[2016-07-26 22:22] rafalolszewskii opened #31 "Use with Unslider"
How can i use this with unslider or any other slider ?

simple code like this doesn't work well with it.

[code]

[2016-07-27 03:28] verlok commented on #31
Please detail what your case is and what are you trying to do

[2016-07-27 07:27] rafalolszewskii commented on #31
Sorry, it seems to work now, maybe my cache was not refreshed :smile:

[2016-07-27 07:27] #31 closed

[2016-07-27 14:27] an-rahulpandey opened #32 "Using with imgcache plugin"
Hi,
Can we use it with this -

https://github.com/chrisben/imgcache.js

There is a already a way for lazyload plugin
https://github.com/chrisben/imgcache.js/issues/167

[2016-07-27 21:22] verlok commented on #30
Great!

[2016-07-27 21:22] #30 closed

[2016-07-27 21:33] verlok commented on #32
Hi, thank you for your question.
You should ask the author os imgcache I guess :)
@chrisben what do you think?

[2016-07-28 07:53] an-rahulpandey commented on #32
Thanks, I have opened the issue here -
https://github.com/chrisben/imgcache.js/issues/173

Also was wondering if we can load the image in synchronous order?

[2016-07-29 05:39] verlok commented on #32
What do you mean by "synchronous order"? The order in which they are in the DOM? I think you can START loading them in that order (it should already work like that) but of course you can't control when the load event will happen, because it depends on many factors (image weight, network conditions, etc).

[2016-07-29 06:15] an-rahulpandey commented on #32
Yes, by synchronous I mean the order in which they are listed in DOM. sometimes images at the bottom of page view load first, then the top images. Or sometimes first two images get loaded and then bottom images, and then middle page images.

[2016-08-09 09:23] eladcandroid opened #33 "Missing - fadein effect like in lazyload.jquery"
Demo:
http://www.appelsiini.net/projects/lazyload/enabled_fadein.html

[2016-08-09 10:12] verlok commented on #33
You can do it either in JS only or JS + CSS for the transition, passing a function to the `callback_load` setting.

[2016-08-09 10:12] verlok commented on #33
Let me know if we can close this issue.

[2016-08-09 10:20] eladcandroid commented on #33
Great. Thanks! :+1:  I'll close it.. :)

[2016-08-09 10:20] #33 closed

[2016-08-18 09:53] verlok commented on #26
Now supported natively in [version 2.0.0](https://github.com/verlok/lazyload/releases/tag/v2.0.0)

[2016-08-18 09:53] verlok commented on #21
Now supported natively in [version 2.0.0](https://github.com/verlok/lazyload/releases/tag/v2.0.0)

[2016-08-18 09:53] verlok commented on #6
Now supported natively in [version 2.0.0](https://github.com/verlok/lazyload/releases/tag/v2.0.0)

[2016-08-18 09:53] verlok commented on #19
Now supported natively in [version 2.0.0](https://github.com/verlok/lazyload/releases/tag/v2.0.0)

[2016-08-18 09:57] yanni4night commented on #19
Wonderful！

[2016-08-18 10:11] verlok commented on #19
And now the `show_while_loading` option defaults to `true`. Check out the demo files in the demos folder or read the readme.md

[2016-08-22 14:01] dreamyguy opened #34 "Lazy loading 3rd party widgets / scripts"
As it is well known in the _lazy-loading_ community, **Lazy Load XT** helped many get the job done back in the days. Unfortunately it hasn't seen an update for over 2 years now...

It had a great feature, which was enabling one to lazy-load 3rd-party widgets like Google Ads, Facebook Buttons and other social widgets, that consist of both markup and script.

It would be great if **LazyLoad** had th

[2016-08-25 08:49] baszero opened #35 "Poorer performance if 100+ images are lazy loaded?"
**Question**
I observe that when a page contains 100+ images that get loaded with lazyload the browser starts to stutter when scrolling down while more images are getting loaded.
Is this a known issue? Or what else could be the reason?

[2016-08-25 09:39] verlok commented on #35
Not a known issue.
It could depend on many reasons, if you could link a page where this is developed and visitable, I can take a look at that and give you some advice. If you can't, please post some of your html, css and js code here.

[2016-08-29 15:23] baszero commented on #35
OK, I made our test environment public, but in order to see the effect, you have to login on the top right with stackoverflow / stackoverflow (un / pw).

When logged in, open this page which has about 130 lazy loaded thumbnail images.
If you scroll down, you will notice the stuttering.

http://test.zwischengas.com:8380/de/VC/veranstaltungsberichte/Grossglockner-Grand-Prix-2013-auf-den-Spuren-der-a

[2016-09-08 14:33] baszero commented on #35
Any updates on this? I have to close the test environment otherwise soon again. Thanks for a quick note.

[2016-09-08 14:52] dientuki opened #36 "Migrating to ES6"
Hi, i take a look to your code and it's great. I'm working in a big proyect for a medium and we have all the js in es6, transpiling it with babel. Are you planning to migrate to ES6?

Thanks

[2016-09-08 15:29] verlok commented on #35
Hi @baszero. For what I could see on your website, the problem is not due to LazyLoad but to the layout of the website. Try to avoid using HTML `table`s to layout the images, because it seems very CPU-consuming when a repaint occurs.

I also notices that the Chrome/Opera inspector hangs/crashes when I tried to inspect an image. This must be due to a CPU issue. Try to use the "profile" tab in the i

[2016-09-08 15:32] verlok commented on #36
Hi @dientuki,

I thought about doing it, but I'm afraid that the ES5 code written by Babel could be heavier than the one I can write directly.
Anyway I should think migrating to ES6, as browsers are starting to support it natively.

Thank you for asking.
If you want to help me doing this, I'm open to pull requests :+1:

[2016-09-08 15:33] verlok commented on #32
I'm afraid you can't control which images load first.

[2016-09-08 15:33] #32 closed

[2016-09-08 15:33] verlok commented on #29
@cnanders any updates?

[2016-09-08 16:14] cnanders commented on #29
Never did any actual testing, however I'm using it in [production](http://www.hooktheory.com/theorytab) and it works beautifully.  You'll see on that linked page that it works in the x direction (overflow-x divs) as well as in the vertical direction (divs below the fold)

[2016-09-08 19:58] verlok commented on #29
Beautiful. I'm gonna leave this issue open because I want to do this test one day.

[2016-09-09 09:09] baszero commented on #35
Thanks for that quick analysis. I will change the layout. But if the performance issues are still there, I'll get back to you :) I will replace the `table` by left-aligned floating `div`s.

[2016-09-20 20:22] jd440 opened #37 "srcset working"
hi,

I'm looking to get responsive + lazyload by srcset so I'm very interest by your solution but…
I'm sorry to tell you that but are you sure http://verlok.github.io/lazyload/demos/with_srcset_sizes.html work?

When I'm testing it with Firefox Developer Tools > Responsive Design Mode doesn't matter the test resolution it always loading the ../img/[…]_15_a.jpg and never ../img/[…]_11_a.jpg what ma

[2016-09-21 02:18] verlok commented on #37
Hello! Yes, I'm pretty sure it works, the thing is that browsers tend to use the image they have already downloaded (and stored in cache) instead of using a new one, so please repeat your test making sure you manually empty your browser cache :) Cheers

[2016-09-21 02:18] verlok commented on #37
PS: let me know if this solves

[2016-09-21 04:47] jd440 commented on #37
thanks @verlok to have take time to reply to me
so I tried again with clear cache
it's ok w/ chrome

But on ff 44/windèws,  49/windows,  48/linux  it still loading the ../img/[…]_15_a.jpg

I also tried to add a meta viewport but it doesn't change anything

[2016-09-21 05:27] verlok commented on #37
Ok, it can depend also on the Retina display emulation of the browser.

The point is: do you know what happens if lazy load is removed and the srcset is applied directly on the img tag? The answer is: exactly the same. So the problem is not in the lazy load. It depends on what purpose the demo is coded for.

Also, please remember that srcset and sizes are useful to _suggest_ image dimensions to th

[2016-09-21 05:27] #37 closed

[2016-09-21 07:06] jd440 commented on #37
After testing I found.

the problem come from the size attribut
sizes="220px"

[2016-09-21 10:55] verlok commented on #37
Ok, that attribute is perfectly acceptable if your images are always displayed at 220 css pixel wide.

In my example I just want the browser to select between the 220 wide image or the bigger one based on the display density (retina or not).

[2016-09-21 11:12] verlok commented on #37
Confused? I invite you to read [this guide](https://ericportis.com/posts/2014/srcset-sizes/)

[2016-09-28 09:44] cbieser opened #39 "Add support for <picture>-Element"
Hi,
could you add support for the HTML5 picture-Element?
Thanks!

[2016-09-28 16:14] verlok commented on #39
Hello! thank you for the suggestion. I thought about this in the beginning but having to support IE<11 was a problem.
Now, as the picture element is widely supported, I think it would be easier to to. I'll think about it.

[2016-09-28 16:41] cbieser commented on #39
That would be great. If you need support or donation, let me know.

[2016-09-28 20:28] verlok commented on #39
If you want to support me, you're welcome. I was thinking about finding img elements parents and check out if they are picture elements. But for performance reasons I think it's not a good idea to change each `source` element individually. I'm thinking on a best performing solution.
Donations are also welcome via [PayPal me](https://www.paypal.me/verlok).

[2016-09-28 21:22] verlok commented on #39
I've just created a proof of concept of how it could work [here on Codepen](https://codepen.io/verlok/pen/bwROkV?editors=1010). How about that?
I just need to have more time to do proper performance testing.

[2016-09-29 17:29] cbieser commented on #39
It seems to work, but there could be conditional comments between the picture and the source-tags (IE).

[2016-09-29 20:37] verlok commented on #39
Can you make an example?

[2016-09-29 21:18] verlok commented on #39
It seems to be still working, on Chrome, Opera and Safari.
Can you please test IE?

[2016-10-08 18:41] cbieser commented on #39
No, it is not running in IE.
![lazyload-ie](https://cloud.githubusercontent.com/assets/1560584/19215197/83f7b238-8d97-11e6-8388-eb9381b6da50.PNG)

[2016-10-09 11:08] verlok commented on #39
What version of IE?

[2016-10-09 11:10] verlok commented on #39
And what error does it throw?

[2016-10-24 23:17] mturnwall opened #40 "Lazy Load in Slide Down Element"
I have an element the is off the screen. How can get the images to load once the element slides into view? The element is being slide into view using `translateY()`.

I tried instantiating LazyLoad during the click even that slides the element and setting the `container` property to the element. Some of the images load but ones towards the bottom of the element do not load.

[2016-10-25 04:27] verlok commented on #40
Hi @mturnwall,
first of all, this script is only to detect elements that *scrolls* into the window, not elements that *moves* in given a non-scrolling viewport. So it listenes to the browser's `scroll` event to check if elements are inside or not, which is not your case.
Secondly, I did a quick research to find out whether or not is possible to detect when an element moved with the translateY() 2D

[2016-10-25 04:27] #40 closed

[2016-10-25 04:28] verlok commented on #39
IE versions less than 11 are dead, though :)

[2016-10-27 08:26] Niresh12495 opened #41 "Add support for force loading some image classes"
For example lazy loading mega menu images in wordpress works only scrolling a bit
that is where force loading may be come handy, also help web devs who want to load some images without lazy loading

[2016-10-27 09:01] cbieser commented on #39
It's an IE11. No error message but also no src for the image as you can see in the screenshot.

[2016-11-11 11:16] verlok commented on #39
Sorry for the delay, I've updated the codepen code and tested in IE11, now it works.
http://codepen.io/verlok/pen/bwROkV

Sound good?

[2016-11-15 13:04] cbieser commented on #39
Sounds good.
How does this come together with the existing implementation of `vanilla-lazyload`?

[2016-11-15 19:32] cbieser commented on #39
Oh, you have changed the code. It is still not working with
[code]

[2016-11-17 15:51] Piicksarn opened #43 "From cdnjs, about library request."
Hi @verlok ~
This is  **[cdnjs](https://github.com/cdnjs/cdnjs)**, and we desire to contain **vanilla-lazyload.**:smiley:
However, I must to make a check for the files that we need to added.

The files I would like to add are **all the files under dist folder.**

Is that complete for the user? Or other files required?

Thanks for your great work ✨

Piicksarn

[2016-11-18 08:05] verlok commented on #39
I will implement it, just I don't know when since I'm kinda full of other stuff to do. I accept pull requests though :)

[2016-11-18 09:10] verlok commented on #43
Hi there,
thanks for publishing my script.
Yes, all that is inside the dist folder is good.
Now I cleaned it up :)

[2016-11-18 09:11] verlok commented on #43
Closed issue by mistake.
Fell free to close it when you're done :)
Thanks

[2016-11-29 06:09] verlok commented on #43
Thank you!

[2016-11-29 06:09] #43 closed

[2016-11-29 06:14] verlok commented on #41
LazyLoad's job is to check whether images are inside the viewport, then load them automatically.
For what I understand, you need something to load some images when your menu is shown. So in the code that manages your menu, you want to do something like `new LazyLoad('.megaMenuImage', {immediateLoad: true})`, right?

[2016-11-29 15:47] Niresh12495 commented on #41
Yes :)

[2016-11-29 16:04] verlok commented on #41
Good,
then you don't need LazyLoad for the menu.
LazyLoad'a main job is to check whether or not images are in the viewport, or close to it, then load it in the positive case.
What you need to do is just to copy the `data-src` attribute value to the `src` attribute and eventually the `data-srcset` attribute value to the `srcset` one.
This can be easily done with a couple of lines of code that you c

[2016-12-01 06:49] verlok commented on #41
@Niresh12495 can we close this issue?

[2016-12-01 15:54] verlok commented on #39
Hey @cbieser,
check the version of the script I've just added in the `picture-support`branch!
It actually works in the `demos/with_picture.html` demo.
Does it work for you?
Please let me know!
Cheers!

[2016-12-06 06:44] mxaviers opened #44 "The "loading" class"
The plugin works completely fine on my wordpress site when first opening a page, but I noticed that when it's refreshed, most of the time, the function will not complete and prevent the loading class from turning into "loaded". I didn't do much configuration to the plugin, but only have the data source pointed to "src" instead of "original".

[2016-12-06 15:05] verlok commented on #44
So the problem is that the class doesn't change from loading to loaded? Can you give me the URL of your website?

[2016-12-06 16:29] mxaviers commented on #44
Yes, only when it refreshes though. I did manage to find a workaround through jQuery which is probably not the best solution but it works for me. However, I did take it out for your inspection. The link is uat.lusitanialights.com/music.

But I've also noticed that this plugin only recognizes JPG files, does it not do PNG?

On Dec 6, 2016, at 8:05 AM, Andrea Verlicchi <notifications@github.com> wro

[2016-12-08 20:06] verlok commented on #44
Thank you,
I'm gonna take a look at the link you provided.

But where did you read that my LazyLoad only supports JPG files? It supports everything it's loadable by the img tag, actually.

[2016-12-08 20:10] verlok commented on #44
I took a look. Are you talking about this single background image?

[code]

Since it's a background image, there is no way to listen to the "load" event for the image, so the `loaded` class cannot be added programmatically.

[2016-12-08 20:36] mxaviers commented on #44
Sorry, it was just an assumption about the PNG since the most of images that weren't being loaded were PNG.

And actually, the header's background image is fine, it's the images in the content area, such as itunes and spotify icons in the right hand side and the album cover on the left.

[2016-12-09 06:57] verlok commented on #44
Ok, but I can't see any images in the page. I checked the source and there isn't any `img` tag with the `data-*` attribute set. And the images you mentioned aren't visible on the page. Something is missing, but I don't know why.

[2016-12-09 08:47] mxaviers commented on #44
Do you see a "loading" class on the img tags?
Because the images are going through the WordPress editor, do you know how to add the "data-original" attribute in the image tag without going into the text editor?

    On Thursday, December 8, 2016 11:57 PM, Andrea Verlicchi <notifications@github.com> wrote:

 Ok, but I can't see any images in the page. I checked the source and there isn't any img ta

[2016-12-09 08:59] verlok commented on #44
Ok, taking a look at the DOM through the inspector, I see them. But looking at the html source of the page (cmd + alt + U on Chrome), I can see that the URL of the images are placed directly in the `src` attribute, and not via `data-something`...

[code]

...so LazyLoad doesn't have anything to load, because this way the images are not lazily loaded, but are loaded directly by the browser when par

[2016-12-09 08:59] #44 closed

[2016-12-09 09:00] #41 closed

[2016-12-09 09:04] verlok commented on #34
Hello @dreamyguy, I decided not to add any extension to LazyLoad, because it's good as is its. Further development will imply support to the `picture` tag and eventually a conversion to ES2015.

The good news it that you can already lazy load iframes if you need to (like embedded codepens, vimeos, etc.)

[2016-12-09 09:04] #34 closed

[2016-12-09 09:06] verlok commented on #39
Hello @cbieser, can you test it?
You can find the `picture` supporting version of LazyLoad [here](https://github.com/verlok/lazyload/blob/picture-support/dist/lazyload.min.js)

[2016-12-09 10:52] dreamyguy commented on #34
No worries @verlok, we ended up using your script anyway, and have noticed a significant improvement on performance. The `throttle` feature is a must and improved the experience on mobile browsers dramatically, especially on Android, where the "jumpy lag" was so obvious.

Just that one improvement over **Lazy Load XT** was enough for us to stick to **LazyLoad** for good. 👍

[2016-12-09 12:36] Niresh12495 commented on #41
Hi, sorry for very late reply so do you want me to add a code to the code that manages megamenu? that is not possible in most cases, is there anything that i can do with lazyload js options itself

[2016-12-09 21:28] verlok commented on #34
#perfmatters 👍🏼

[2016-12-09 21:36] verlok commented on #41
Look, I don't know megamenu but you need to write some code to do what I wrote some comments before. Not necessarily editing megamenu's code, but Listening to the events it fires maybe.

[2016-12-09 22:55] verlok commented on #39
Done! Version 3.0.0 is now out.

[2016-12-09 22:55] #39 closed

[2016-12-17 02:58] Niresh12495 opened #46 "First Featured Image not Loading in Chrome"
All other images are being loaded except the first image but it do works in Firefox and Safari

[2016-12-17 21:30] verlok commented on #46
It looks like an untrustworthy URL to me. And your user looks fake too. Sorry, closing this issue. If you're human please prove it.

[2016-12-18 05:37] marichelle commented on #46
@verlok I also experienced this issue, but it happens to me in both Chrome v55 and Firefox v47 (I didn't test Safari). Note: I tested the plugin in a vanilla environment and that worked fine, but when I tried to run it in a more complex environment (JS using a module pattern), the Above The Fold images wouldn't show on page load, but upon the slightest scroll, the lazy load would trigger as expect

[2016-12-18 06:19] Niresh12495 commented on #46
How do you say this http://www.hackintosh.computer/190/enable-trim-on-macos/
url isn't trustworthy? closing the issue and tellin some one prove wtf?

[2016-12-19 10:08] verlok commented on #46
@Niresh12495 sorry about that, the URL wasn't the one you're reporting now, it was https://yerl.org/4qPMBIuUDnRpPoR1ojLwlN so very hard to trust. And I'm sorry, but your profile with 5 numbers and 4 forks looks like bot-generated too. Anyway your reply proved you're human to me. 👍

[2016-12-19 10:16] verlok commented on #46
@marichelle thank you very much for your description, now I get what the problem is.

I will fix this in the script itself, but if you need a quick fix, just call LazyLoad's `handleScroll` function.

For example, say you're initializing LazyLoad on document ready and assigning it to the `myLazyLoad` variable...

[code]

[2016-12-19 20:10] marichelle commented on #46
@verlok Thanks for your response, but unfortunately `handleScroll()` didn't work for me.

[2016-12-24 02:39] JackDandy opened #47 "Callback not fired until images in a batch are loaded."
Hello,

I can scroll down to trigger images in a viewport while observing their class change to "loaded" in the inspector view of Firefox.  However, the src= of say one image can complete but the callback_load isn't fired until all currently requested elements of the viewport batch are loaded. The images affected seem to be browser cached images.

This is a subtle feature that affects normal use i

[2016-12-29 13:14] JackDandy commented on #47
Nevermind, i figured a way.

[2016-12-29 13:14] #47 closed

[2017-01-16 15:13] irejwanul opened #48 "Http Request for Image occuring twice with null value returned for subsequent request"
Hi, Thanks for your very useful package. But, I don't know how its happening, its always making two HTTP request to the server for image, and either for first call or the subsequent call, its taking more time and response coming 'null'. And, at the same time image is loading on selector_elements.

[2017-01-24 14:23] baszero commented on #35
Hi Verlok, you might want to look into this again,
but I did use the PROFILE now and I see that lazyload is causing the delays!
See screenshot:
![screen shot 2017-01-24 at 15 22 54](https://cloud.githubusercontent.com/assets/596855/22250907/1de5c802-e249-11e6-8574-9c6178823a44.png)

[2017-01-24 14:48] baszero opened #49 "Lazyload with 100+ small images to load"
I did an update. Can you check? I still lazyload is the issue, as the grid-layout is already implemented by left-floating `div`s. See #35

[2017-01-24 19:39] verlok commented on #35
Good to know. I'll definitely check this out.

[2017-01-24 19:40] verlok commented on #49
Duplicate of #35

[2017-01-24 19:40] #49 closed

[2017-01-24 19:43] verlok commented on #35
Can you please make your test environment available again?

[2017-01-24 22:26] verlok commented on #35
Ok then, I've worked on it, used the profiler and found some performance issues, which I addressed and resolved in the latest version of LazyLoad, the recently released 4.0.2.
I also created a [demo with 320 images](http://verlok.github.io/lazyload/demos/hundreds.html) to test it and make sure that the performance issues are gone.

Please test it on your website and let me know if this can be clos

[2017-01-24 22:27] verlok commented on #48
Thanks @irejwanul,
can you please post the HTML and JS code you're using?

[2017-01-24 22:32] verlok commented on #46
I'm testing it now on the [demo pages](http://verlok.github.io/lazyload/#demos) on Chrome 55 and I still can't see the problem. It probably occurs just when called using a JS module pattern, as @marichelle wrote above. I'll try and fix this too.

[2017-01-24 22:38] verlok commented on #46
@marichelle can you please repost the HTML and JS code you're using, so that I can do a better analysis? Thanks

[2017-01-24 22:43] verlok commented on #46
@Niresh12495 I visited your page using Chrome 55 but I didn't see the problem. Maybe you replaced my script with something else. Do you see the problem on the [demo pages](http://verlok.github.io/lazyload/#demos)?

[2017-01-25 07:43] baszero commented on #35
Ok, I will test it. However the IE10+ restriction is a big impact for us, have to decide whether we can use it.

Where do I see the version? In the `dist` folder there aren't any versions... Would be great to see version directories in the `dist` folder (e.g. v3.8, v3.9, v4.0 etc)

[2017-01-25 07:51] baszero commented on #35
Question: I will use the latest version in the `dist` folder, is that the latest too? Have they been updated with 4.0.2?

[2017-01-25 08:48] verlok commented on #35
Hi, I'm using GitHub's semantic versioning, so you can choose the version in the [releases page](https://github.com/verlok/lazyload/releases).
You're right, IE10+ can be a storng restriction in terms of backward compatibility, but it's now a standard not to support IE older than that. See [browser stats for november / december 2016 for desktop computers](http://gs.statcounter.com/browser-version-p

[2017-01-29 07:10] verlok commented on #48
And maybe the version of the script you're using, if this is still an issue.

[2017-01-29 07:11] verlok commented on #46
Is this still an issue?

[2017-01-29 07:11] verlok commented on #35
Can I close this @baszero?

[2017-01-29 16:33] anchev opened #50 "How to use lazy load with Bootstrap modal?"
I am using this theme:

https://startbootstrap.com/template-overviews/agency/

and in `agency.js` I added:

[code]

but the problem is that when the modal which contains many images is opened all of them get loaded instantly. I would like them to load lazily, i.e. when scrolling down.

How can I do that?

[2017-01-29 16:41] anchev commented on #50
In fact I notice that the last few images in the modal often don't show unless the window is resized, moved or the view is zoomed in/out using Ctrl and +/-

[2017-01-29 22:01] verlok commented on #50
Hi @anchev and thanks for choosing my LazyLoad.

If I understood correctly, the images you want to load lazily are inside the modal you are opening via javascript, and the modal has a scrolling panel inside it.

If so, you need to initialize a new LazyLoad when the modal is shown, and pass the scrolling container in the `container` option.

Something like:

[code]

In the `container` you need to p

[2017-01-29 22:05] anchev commented on #50
Thanks for the reply. However it seems to me I didn't explain correctly.

I want to have lazy load both on the main page, as well as in the modals. So as far as I understand the lazyLoad object must be created initially (right?) Then the question is how to make it work also for the modal.

I hope that clarifies what I am looking for.

[2017-01-30 12:47] Cyriltra opened #51 "Responsive design and unknown image size"
Hello,

my website is fully responsive by using flexbox, therefore I don't know in advance the size of the image in the viewport. Is there a way to modify your plugin to avoid lazyloaded images to reflow the page ?
Maybe with the tech explained here: http://alistapart.com/article/creating-intrinsic-ratios-for-video

Thank you

[2017-01-30 20:33] verlok commented on #51
Uhm... This *script* is just to lazy load images, so make sure the images are loaded as they enter the viewport. It supports the picture tag and the IMG tag with the srcset and sizes attribute. This should do in the majority of cases.

Your case is very singular, if I understood correctly. Do you have a link I can look at?

[2017-01-31 01:01] Cyriltra commented on #51
The trick seems to use a calculated padding-bottom as explained here:
http://andyshora.com/css-image-container-padding-hack.html
https://www.smashingmagazine.com/2013/09/responsive-images-performance-problem-case-study/

I think it would be great if your plugin can already reserve the space needed for the image when no dimensions are specified.

Thanks

[2017-02-01 12:47] anchev commented on #50
I think I figured it out:

[code]

It seems to work. Could you please confirm if this is the right way to do it?

[2017-02-03 15:02] verlok commented on #50
Yess!!! That's correct. Congratulations.

[2017-02-03 15:02] #50 closed

[2017-02-03 15:36] anchev commented on #50
Thank you!

[2017-02-06 16:14] si14 opened #52 "Lazy loading of <video> tag?"
If I understand sources correctly, it is now impossible to use the library for `<video>` tags. Do you think this is a bad idea?

[2017-02-06 16:24] si14 opened #53 "Advanced performance optimizations (passive listener, intersection observer)"
Looks like there is a couple of ways to further improve performance of the library in modern browsers.

1. [Passive event listeners](https://github.com/WICG/EventListenerOptions/blob/gh-pages/explainer.md) ([caniuse](http://caniuse.com/#feat=passive-event-listener))
2. [Intersection observer](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API) ([caniuse](http://caniuse.com/

[2017-02-08 08:16] Niresh12495 opened #54 "ignore rewriting of null image sources"
Why?
Most php plugins rewrite src to data-original-src, they doesn't check if img src has a value or empty in that case rewriting cause a 404 error
Example check this url

[How to be happy](https://www.guest.blog/post/7043/be-happy/)

[2017-02-08 14:17] anchev opened #55 "Not working properly on Safari iPhone 6?"
One of the visitors of my site reported a screenshot which clearly shows that all images which don't have "src" attribute don't display on Safari iPhone 6.

Has this been tested on all mobile devices?

[2017-02-08 15:10] Niresh12495 commented on #48
Well i think Im experiencing the same issue
script is adding `style="background-image: url("null");` inline style to all div & a tags
Here is an example page
[Guest Blog](https://www.guest.blog/)
[How to be happy](https://www.guest.blog/post/7043/be-happy/)

Please add a random variable to end because the pages are cached

[2017-02-08 15:21] Niresh12495 commented on #48
Fixed: This is the small change made
`if (elementSrc) element.style.backgroundImage = "url(" + elementSrc + ")";`

:)

[2017-02-08 15:23] Niresh12495 commented on #54
This issue was related the following issue
https://github.com/verlok/lazyload/issues/48

Make sure to check if data-original-src set has a value

[2017-02-08 15:24] Niresh12495 commented on #54
You can close this issue
 add this code to src
`if (elementSrc) element.style.backgroundImage = "url(" + elementSrc + ")";`

https://github.com/verlok/lazyload/issues/48

[2017-02-08 15:48] anchev opened #56 "<img> without src attribute is invalid HTML"
According to https://validator.w3.org

Perhaps the approach of removing the src and placing another attribute needs to be reconsidered.

[2017-02-11 20:11] verlok commented on #55
Yes of course

[2017-02-11 22:25] verlok commented on #55
Can you report HTML, CSS and JS code that you're using on your website? Maybe I can help you. But yes, LazyLoad it's used in production on many websites, I'm pretty sure it works on all devices

[2017-02-11 22:29] #46 closed

[2017-02-11 22:40] anchev commented on #55
Unfortunately I can't report that because I removed lazyload from the site completely after finding out that it is necessary to use invalid HTML (img without src as reported in the other issue). Logically we can't expect any browser to be able to render invalid HTML long term although it may theoretically work, so I don't want to risk the sites I am working on to have content which users may not b

[2017-02-11 22:44] #54 closed

[2017-02-11 22:46] #35 closed

[2017-02-11 22:48] verlok commented on #48
Thanks @Niresh12495
Just released 4.0.4 (version not found 🤣)

[2017-02-11 22:48] #48 closed

[2017-02-11 22:49] verlok commented on #54
Fixed in [version 4.0.4](https://github.com/verlok/lazyload/releases/tag/v4.0.4)

[2017-02-11 22:53] verlok commented on #52
I confirm it won't work on videos. The script only considers `source` tags that are siblings of an `img` tag inside a picture.

[2017-02-11 22:59] verlok commented on #53
Hey @si14, thanks for your suggestions
Intersection observer is still a draft, but passive event listeners are a thing on most browsers... I'll give it a try and if it degrades gracefully I'll implement it.

[2017-02-11 23:13] Niresh12495 opened #57 "Not an issue: Does verlok lazy load support Async loading?"
If it supports then it would be great

[2017-02-11 23:32] verlok commented on #55
Thanks for the suggestion @anchev,
but putting the `src` and `srcset` in the `img` tag triggers the immediate download of the linked image. There's no way of lazily loading images that way.

[2017-02-11 23:32] #55 closed

[2017-02-11 23:34] verlok commented on #57
@Niresh12495 what do you exactly mean with Async loading?

[2017-02-11 23:36] verlok commented on #56
Thanks for pointing it out @anchev, but putting the `src` and `srcset` in the `img` tag triggers the immediate download of the linked image. There's no way of lazily loading images that way.

[2017-02-11 23:36] #56 closed

[2017-02-11 23:36] anchev commented on #55
You can probably use a placeholder gif pixel which will be replaced with the actual image. Or even better: a downsized version of the image - then search engines will be able to index it without duplicate content issues.

[2017-02-11 23:45] verlok commented on #55
But @anchev, this is what you author should do. It's not up to the editor of the script to manage your HTML or downscale your images.

You could do:

[code]

...or simply use a placeholder on all your images...

[code]

[2017-02-12 00:07] Niresh12495 commented on #57
In all your examples, lazy load js library is loaded before the options but will it work
in the following case because with async loading, images can render later when ever the lazyload  js has been loaded (like in the case load images after everything has been loaded)
In the example below im using different data_src and data_srcset because you can't check if async loading working with default val

[2017-02-12 06:54] Niresh12495 commented on #57
When you execute something synchronously, you wait for it to finish before moving on to another task. When you execute something asynchronously, you can move on to another task before it finishes.

If lazy load is async it can be loaded anytime or loaded with condition

[2017-02-12 09:38] anchev commented on #55
Sure. I just didn't see src in the demos so I thought it must not be there at all in order your script to work properly. But if it can be there, that's great.

[2017-02-16 17:19] banago commented on #52
This script is perfect for what it does and I suggest you keep it that way.

[2017-02-16 18:49] verlok commented on #52
Thanks @banago.
I'm closing this.

[2017-02-16 18:49] #52 closed

[2017-02-19 16:32] zedL opened #58 "CSS class for inital viewport images"
Hello,

I want to fade in my lazy loaded images. I can do this with the loaded class.
But than the inital load of my view fade in all image elements. I found that is ugly. I only want to fade in images when the user scrolls or resize the browser.
Is it possible to introduce a new class called first-load on images that are loaded when the view renders the first time (or lazyload runs the first time

[2017-02-19 17:01] verlok commented on #58
Hi @redL,
Thank you for your suggestion.  Unfortunately it's not possible to do what you suggest, because I can't distinguish which images are inside did you put initially and which ones are outside.
In fact, the script runs independently when the user scrolls or resizes the window or at the first load of the page.

[2017-02-19 17:04] verlok commented on #58
Anyway, I'm thinking about the way to do it in the script that manages your page. Would you like me to suggest you how to do it?

[2017-02-19 17:25] zedL commented on #58
Hey,

well you currently doing this with the loading class. But you remove this class and add loaded when the images loading is finished.
I only need this behavior the first run and instead of loading use a different class like first-lazy-load.
You currently doing what I need, but you do it again and again on each cycle. I need it only the first time.
Hope that clarify a bit what I mean. If you ha

[2017-02-20 06:48] verlok commented on #58
Thank you, you were absolutely clear. The point is there's no such thing as the "first run". Take a look at the code and you will understand.

[2017-02-25 18:58] zedL commented on #58
Hey,

I could take a look at the code and I have following suggestion.
1. add a variable on top _isFirstLoop = true;
2. in the _loopThroughElements method you can add a class to each identified element
[code]
3. at the end of the _loopThroughElements method set _isFirstLoop to false
[code]

[2017-02-27 10:19] verlok commented on #58
Good idea, you can do it in a fork if you want, but I'm not keen to integrate this change in LazyLoad.
The reason is that you should *NOT* use Javascript to load the first N images - N depending on the layout of your website in the widest viewport - and to lazily load only from the Nth+1 image on.
So you should put the first images `src`s and `srcset`s directly in the image tag, then start putting

[2017-02-27 14:05] zedL commented on #58
Well when I have to detect wich images should be displayed based on current viewport I would have two pieces of code that do the same thing in my view.

If you dont want to improve your lib in this way... it is ok. In my eyes your arguments are strange.

[2017-02-27 17:33] verlok commented on #58
You don't have to detect wich images should be displayed based on current viewport, also because you can't do it on the server side. Just set a number fixed to 10 or 12 and write the first HTML for the first 10 or 12 images, then the lazy load HTML for the 13th image on. I can assure it's a best practice. We use it in production in multiple e-commerce websites - in the category page - and it works

[2017-02-27 19:29] zedL commented on #58
This suggestion isnt a good advise.
I display thumbnails in responsive designed views. From little mobile views to large desktop views.
The range of visible images is from 6 on mobile to 60 on desktop.
I want to find a solution for loading and fading in only images that are not on the initialized loaded view.
A fixed count let pop in the first images and the rest fade in, that looks very ugly on l

[2017-02-27 22:10] verlok commented on #58
Uhm, you're right, there is too much difference between the mobile viewport and the large desktop viewport in your case. Don't do what I said for 60 images. But please do it for the first 6, your mobile users will have a performance boost since the browser will start downloading the images even before downloading the first bit of JavaScript.

[2017-02-27 22:11] verlok commented on #58
I'll see what I can do with your suggestion. I'm a little bit busy these days. If you make the change in your girl I might accept a pull request. Thanks

[2017-03-02 13:46] xmesox opened #59 "LazyLoad With Filtering"
When using a filtering system that filters content as the user types, items that are not yet LazyLoaded get pulled to the top of the filter results without their images. If a user scrolls at all after this, the images are then displayed. Ideally the code would detect the image is now in view and load the image, to allow for images to load upon being pulled to the top of a filtering system.

[2017-03-02 15:39] verlok commented on #59
Hi @xmesox,
the script only watches for scroll and resize, for everything else you must call the public `.update()` method yourself after filtering / moving the images.
Easy.
Let me know if you need more information.

[2017-03-03 07:18] xmesox commented on #59
Thanks @verlok for your comment. To be honest I'm a bit development challenged when it comes to Javascript. Could you perhaps run me through how I would achieve calling the update method with my filtering.

`<script type="text/javascript">
	$(document).ready(function(){
      $.each( $('[data-filter-role="input"]'), function( key, search_box){
      	$(search_box).on("keyup", function(event){

[2017-03-03 19:29] zedL commented on #58
ok, you have a new PR

[2017-03-04 08:11] verlok commented on #59
Sure.
The following is the code you pasted above, but beautified.
I added the `lazyLoad.update();` call where it should be called, but you have to make sure that the `lazyLoad` variable is in scope there.

[code]

[2017-03-04 08:17] verlok commented on #59
By the way, the following is an optimization :) (less calls to jQuery - caching its vars)

[code]

[2017-03-04 08:18] verlok commented on #59
By the way, if you want, here's an optimization of the same code.
The optimization consists in less calls to jQuery, caching its generated vars.

[code]

[2017-03-06 09:23] xmesox commented on #59
Thanks a ton for your assistance, unfortunately I am still having problems, though due to my own ignorance of js. I'm currently filling in for our developer on a project and my knowledge of js is well below par.

You mention that the variable will need to be within scope, contained within our footer is the following:

[code]

[2017-03-06 11:23] verlok commented on #59
Yes, it can't work like you did because you're creating a new instance of LazyLoad but you're not assigning it to a variable :)

The following should work:

[code]

[2017-03-07 13:59] xmesox commented on #59
Thanks so much for your help! That did the trick! :D

[2017-03-07 14:55] verlok commented on #59
Call me coder on paper! :)
Closing the issue

[2017-03-07 14:55] #59 closed

[2017-03-09 13:38] SamuelBourdon opened #62 "Lazyloaded Picture tag doesn't work on IE."
Hi,

Because the picture tag isn't supported on IE 11, lazyloaded images always fallback to the default img.

[This demo](http://verlok.github.io/lazyload/demos/with_picture.html) isn't working for me on IE11.

I am trying to make it work with picturefill.js but without success at the moment.

Is there a solution?

[2017-03-10 05:27] verlok commented on #62
Hi @SamuelBourdon,
what you're trying to do is correct, since LazyLoad is not a polyfill, Picturefill must be used to have picture supported on IE.
If you post some code you're using maybe I can help.

[2017-03-12 11:01] bigretromike opened #64 "div with style=background"
I tried few times and had mixed results.
I read in some old issue that `div` is supported.

I'm using
[code]
Page is using bootstrap (version 3.3.7)
When adding your js in `head` and adding class to div, adding data-original with img.jpg and replacing backgroud-image to blank.gif I end up with all divs being white and there is no request to server for img.jpg

Am I'm missing something ?

I checked

[2017-03-12 11:09] bigretromike commented on #64
OK first.
I needed to move script to bottom.
Second when I added
[code]
And changed class to 'lazy' it started to working;
Kudos for js !

[2017-03-12 11:09] #64 closed

[2017-03-12 11:46] Niresh12495 commented on #57
Any reply? or updates?

[2017-03-13 10:23] SamuelBourdon commented on #62
Here is an example on codePen http://codepen.io/samuelbourdon/pen/rywLQW
It works for pictures loaded on page load but not for the lazyloaded ones.

I think I need to callback picturefill() before the image is loaded, callback_set seems to be the right solution but I do not know how to use it.

[2017-03-14 08:58] verlok commented on #64
Kudos for self solving this!
Yes the script needs to be at the bottom OR to be executed ad DOM ready, because otherwise it won't find anything in your DOM when searching for it.
This is also a best practice for performance optimization, so keep it that way!

[2017-03-16 08:28] dxit-gg commented on #62
I have the same problem and I would like to find a solution.
I use picture tags and I'm not sure how I can use polyfill and lazyload. Polyfill requires srcset but if I set lazyload with srcset the lazy loading doesn't work.

Thank you in advance.

[2017-03-16 16:00] SamuelBourdon commented on #62
@dxit-gg
I updated my pen with a nearly working example using callback_set method. It seems to be ok on IE on page load but image swap failed sometimes when resizing

`
            (function() {
                var lazyload = new LazyLoad({
                    callback_set: function () {
                        picturefill({ reevaluate: true });
                    }
                });

[2017-03-17 16:50] pranaysonisoft opened #65 "Not work with require js config."
[code]

i don't understand why require config not work with lazyload.min.js
my other plugin is work require config.

[2017-03-18 08:01] verlok commented on #65
Hi there,
what you're doing now is correct, you could have multiple instances of lazyload in the page so you gotta define each one with `new LazyLoad()` and eventually pass some options in or assign it to a local variable.

[2017-03-18 08:23] verlok commented on #57
Sorry @Niresh12495 I've been very busy with my actual job and beyond that preparing the talk for CSS Day 2017. I look forward to be back starting next Monday.

[2017-03-18 08:26] verlok commented on #62
Sorry guys I've been very busy with my actual job and beyond that preparing the talk for CSS Day 2017. I look forward to be back starting next Monday.

[2017-03-18 09:53] G100g commented on #65
Hi @pranaysonisoft ,
 did you try using paths config option to setup lazyload

[code]

I created a working codepen as example
https://codepen.io/G100g/pen/gmowqd

[2017-03-18 10:22] pranaysonisoft commented on #65
thank you from replay  @verlok
thank you @G100g . thank you for codepen example . my problem is solve.

[2017-03-18 10:23] pranaysonisoft commented on #65
thank you for replying me @verlok
thank you @G100g . thank you for codepen example . my problem is solve.

[2017-03-18 17:04] #65 closed

[2017-03-20 14:35] lucavolta opened #66 "Cached images onLoad callback"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The script doesn't trigger the callback function when loading cached images.

**If the current behavior is a bug, please provide the steps to reproduce**
If you load this page at https://www.balenciaga.com/gb/women/collections/lookbook-resort-17_section with Safari, you can see images without the "load

[2017-03-20 15:05] verlok commented on #66
Loaded class on loaded images sounds correct. Did you mean "loading class"?

[2017-03-20 16:13] verlok commented on #66
@lucavolta plus, the link you provided it's a "500 - Internal server error - There is a problem with the resource you are looking for and it cannot be displayed." can you provide another?

[2017-03-20 16:27] verlok commented on #66
I've been trying with https://www.balenciaga.com/gb/women/handbags but I found a strange behaviour: initially we have the .loaded class only on 7 images, even if all images are downloaded at page landing time - scrolling down, no further network requests are done, but the `loaded` class is applied.

[2017-03-20 16:32] verlok commented on #66
Also, I tried with Safari on the [demos](http://verlok.github.io/lazyload/#user-content-demos), for example [here](http://verlok.github.io/lazyload/demos/simple.html), and I get the loaded class also when the image is loaded from the cache.

[2017-03-20 16:34] lucavolta commented on #66
@verlok there was a typo in the initial lookbook url, this is the correct one
https://www.balenciaga.com/gb/women/collections/lookbook-resort-17_section

[2017-03-21 04:52] verlok commented on #66
I've created a specific demo where you can see that all the callbacks are working correctly. [See it in action](http://localhost:8000/demos/callbacks.html) || [view source](https://github.com/verlok/lazyload/blob/master/demos/callbacks.html).

I tried that on Safari 10.0.3 on Mac and everything is working, let me know if it works for you too.

[2017-03-21 05:17] verlok commented on #33
@eladcandroid I've added a fade-in demo without using callbacks, which only uses the CSS classes set by default by LazyLoad. [View source](https://github.com/verlok/lazyload/blob/master/demos/fade-in.html) || [See it in action](http://verlok.github.io/lazyload/demos/fade-in.html)

[2017-03-21 05:20] verlok commented on #33
(I've update the links above, I had them misspelled)

[2017-03-25 11:20] #66 closed

[2017-03-25 11:22] verlok commented on #62
The event on source change is the one that you're using, `callback_set`

I'm closing this, if you need further help please reopen.

[2017-03-25 11:22] #62 closed

[2017-03-25 15:19] verlok commented on #57
I still fail to understand how would it work with the code you posted above. If you instantiate `new LazyLoad()` before declaring the `LazyLoad` function, wouldn't it generate an error in any case?

[2017-03-25 18:58] Niresh12495 commented on #57
`<script async src="//pagead2.googlesyndication.com/
pagead/js/adsbygoogle.js"></script>

<ins class="adsbygoogle"
    style="display:inline-block;width:728px;height:90px"
    data-ad-client="ca-pub-xxxxxxxxxxxxxxxx"
    data-ad-slot="1234567890"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>`

Just look at this adsense code, when ever the adsbygoogle.js gets loaded,

[2017-03-25 22:25] verlok commented on #58
@zedL I'm working on this issue. New release coming soon.

[2017-03-25 22:31] verlok commented on #58
@zedL done. You can find the edit in the branch `feature/initialViewportClass`. Try it out and tell me if it works for you. If it is, I'll merge it in. Thanks.

[2017-03-25 22:55] verlok commented on #57
Ok what you wrote in your latest message is not 100% correct, but I see what you mean.
Your final goal would be to set your LazyLoad options anywhere (just like `adsbygoogle`) and then load LazyLoad asynchronously, without having to wait for it to initialize it.
That's definetly a good idea.

What about this?

[code]

It currently wouldn't work like that, but it wouldn't be a great deal for me to

[2017-03-25 23:13] verlok commented on #57
Hey @Niresh12495, I've worked on it right now, and I've released the fix to make it work like I wrote above.
Check out the edit on the `feature/asyncInit` branch. I've added a demo under the `demos` folder, named `async.html`, and a note on the `README.md` file.

Let me know if it works for you.

[2017-03-25 23:21] verlok commented on #53
@si14 all examples that I've found about passive event listeners talk about passive listening the `touchStart` event. Even searching more specifically, I didn't found anything about passive listening neither the `scroll` event nor the `resize` events, which are the only ones my script listens to.

Did you find something more specific?

[2017-03-25 23:25] verlok commented on #51
Hello @Cyriltra, I suggest you to find a different script to do the trick you're looking for.
Try @aFarkas's [LazySizes](https://github.com/aFarkas/lazysizes/), for example.

[2017-03-25 23:25] #51 closed

[2017-03-25 23:27] verlok commented on #36
I'm working on this on the branch `feature/es2015`.
Any help / pull request is welcome.

/cc @dientuki @ricardobrandao @benago

[2017-03-26 01:10] ricardobrandao commented on #36
Hi @verlok

Hi have some work on that branch. I'll create a PR tomorrow. However I am using static properties - [stage 2](https://github.com/tc39/proposal-class-public-fields) - which are not supported by the uglifier and therefore we can't uglify the original source code. Should we move the default settings to a variable inside the constructor (i.e. not accessible outside)?

[2017-03-26 02:58] Niresh12495 commented on #57
You understood what i meant 😄  Cool
but i have tried your new script not seems to be working
[Testing Async](http://codepen.io/Niresh12495/pen/yMqzVE)
Correct me if I'm wrong
Thanks...

[2017-03-26 03:18] Niresh12495 commented on #57
[Code Pen Test Here](http://codepen.io/Niresh12495/pen/yMqzVE)
When i remove the async attribute it stops working

[2017-03-26 08:11] verlok commented on #57
@Niresh12495

That's why you put the options after the script. The options need to be before the script, in case it loads very fast (from the browser cache, for example).

Here's what you should have in the Async Lazy Test.html

[code]

I just tested it, and it worked.

[2017-03-26 08:13] verlok commented on #57
[Codepen test here](http://codepen.io/verlok/pen/WpKMoX)

[2017-03-26 08:18] verlok commented on #57
Now I'm thinking about adding the ability to have more than one asynchronously loaded LazyLoad.
Maybe with something like:

[code]

I think it would be a great idea to preserve the ability to have multiple LazyLoad on page, yet load the script asynchronously.

[2017-03-26 08:30] verlok commented on #36
Oi @ricardobrandao,
obrigado por estar trabalhando com meu script :)

I was thinking about using very simple ES6/ES2015 features, so to the script wouldn't need to be transpiled to ES5 for the most recent browsers (Chrome, Opera), but I'm ready to change my mind if you can convince me.

To answer your final question, imho it's not a problem if the default settings are not accessible from outside.

[2017-03-26 09:03] Niresh12495 commented on #57
`That's why you put the options after the script. The options need to be before the script, in case it loads very fast (from the browser cache, for example).`

In async the script can be loaded anyhow?

Here is an example just make sure to pause your adblock before clicking
[AsyncTest.html.zip](https://github.com/verlok/lazyload/files/870645/AsyncTest.html.zip)

So will your script work if it is c

[2017-03-26 10:26] verlok commented on #57
I think you don't understand what async means exactly, Niresh.

The order of the `script` tags is important even if a script is loaded asynchronously, because `async` means that you cannot know when the script is executed, which could also be "right away" if the script is dowloaded and executed very fast (i.g. from cache), that's why the configuration variable needs to have a value before requesti

[2017-03-26 11:03] Niresh12495 commented on #57
This is an answer from
[Stack overflow](http://stackoverflow.com/questions/8996852/load-and-execute-order-of-scripts)

If your script works with async and doesnt work without async then it is a bug
Please read the link
Thanks

[2017-03-26 11:52] Niresh12495 commented on #57
Ok i have made a small change in your lazyload.js : now it works with or without the async tag

[lazyload.js.zip](https://github.com/verlok/lazyload/files/870719/lazyload.js.zip)

This is something which i really need because
i use the following data_src values: for <img tags i use data-lazysrc and  for background images i use data-background

Thanks 😄

[2017-03-26 15:38] verlok commented on #36
@ricardobrandao veeery good job! I think we can merge the branch `feature/es2015` in the `development` branch now. Then I'll get everything ready to release it to the world soon (including to cdnjs.com)

[2017-03-26 15:48] verlok commented on #36
Merged in.

[2017-03-26 15:48] #36 closed

[2017-03-26 17:41] ricardobrandao commented on #36
Great. On a related note, we might want to take a look at [this](https://www.youtube.com/watch?v=ncYQkOrKTaI&feature=youtu.be) (source [here](https://github.com/GoogleChrome/sample-media-pwa/blob/master/src/client/scripts/helpers/lazy-load-images.js)) example from Paul Irish as soon as [intersection observers are in a stable state](https://wicg.github.io/IntersectionObserver).

[2017-03-26 19:10] lopugit commented on #29
@verlok How'd it go?

[2017-03-26 19:13] lopugit opened #71 "I've got a slick slider which fails to load images when it's their turn in the carousel, only on scroll 1px"
You can see the slider at www.myleisure.com.au

But the issue is that you have to scroll just 1px to get the images to load when the slider reaches that image in it's carousel order.

I've tried a few things like

        var myLazyLoad = new LazyLoad({
		callback_processed: function(){
			$(window).trigger('scroll');
		},
		container: document.getElementById('slick-slider')
	});

[2017-03-26 19:21] verlok opened #72 "Support IntersectionObserver"
Note to self, try playing around with IntersectionObserver, even if browser support is not quite [there]( http://caniuse.com/#feat=intersectionobserver).

/cc @ricardobrandao @si14 re: #53 and comments on #36

[2017-03-26 19:22] #53 closed

[2017-03-26 19:23] verlok commented on #72
Re: #53 and #36

[2017-03-26 19:28] verlok commented on #71
Two things:
0) which version of my script are you using?
1) why don't you use slick's native lazy load feature?

[2017-03-27 02:53] lopugit commented on #71
I did not know it had one :')

Is it the lazyLoad: 'ondemand' or 'progressive' option they feature? I thought that was a tie in to your script. I'm using 5.1.1 of your script :)

Thanks for the reply, you're a beautiful dev <3

[2017-03-27 06:34] verlok commented on #71
About slick lazy, see the demos here
http://kenwheeler.github.io/slick/

[2017-03-27 06:42] verlok commented on #71
If you have the "only shows images when scrolling 1px" problem on other images, please let me know.
The script is now under automated test and I know that the `update` function is called upon initialization, but maybe there's something else that goes wrong.

[2017-03-27 06:44] verlok commented on #71
PS: you might find other scripts that do the same, obviously. Mine is a lightweight and very fast one, continuously evolving along with browsers technologies, but you're free to choose something else. After all, this is github (and te web).

[2017-03-27 21:56] verlok commented on #29
@lopugit still haven't try... :(

[2017-03-28 06:14] verlok commented on #57
I don't want to force the users to attach lazyload on the `window.load` event, so I won't add your change, also because the version of my script under the `feature/async` branch already works with or without `async`.

I will continue to implement this feature allowing users to pass an array of options.
Thank you for your inputs.

[2017-03-28 06:41] Niresh12495 commented on #57
So why it doesn't work here
[Bug](http://codepen.io/Niresh12495/pen/XMBqzV)

[2017-03-28 16:42] verlok opened #73 "Transpiled version returns an error"
Hi @ricardobrandao,
can you help me understand why the transpiled version returns an error and the non-transpiled version doesn't?
See the code under the `development` branch.

[2017-03-28 17:09] MDSilviu opened #74 "Seo friendly?"
Is this plugin seo friendly?
Did anyone check if the lazy loaded images get indexed by google?

[2017-03-28 17:12] verlok commented on #73
[Here we might find the answer](http://stackoverflow.com/questions/34973442/how-to-stop-babel-from-transpiling-this-to-undefined) (I'm pretty sure we will)

[2017-03-29 05:20] verlok commented on #74
Hi @MDSilvu,
since Google executes JavaScript, the images should be indexed by Google correctly.
We use it production on many of our websites nowadays.
Anyway I have a small change in my backlog that will make SEO even better. Stay tuned ;)

[2017-03-29 05:41] verlok commented on #73
Solved

[2017-03-29 05:41] #73 closed

[2017-03-29 05:41] #71 closed

[2017-03-29 06:48] verlok commented on #74
@MDSilviu version 6.1.0 is out, and it's 100% SEO friendly :)

[2017-03-29 06:48] #74 closed

[2017-03-29 08:05] MDSilviu opened #77 "Srcset for background image."
Would be great if the srcset option could be extended to background images.
Depending on the screen size there isn't always the need to get the full image and serving a smaller image for the background would help.

[2017-03-29 08:36] ricardobrandao commented on #73
Sorry for the late reply but yesterday I had a busy day. Glad you've figured it out. I remember [fixing this earlier](https://github.com/verlok/lazyload/pull/45/files#diff-6cac1e8e285dab83b1bdb05d82488d35R330) but we've lost it in the meantime.

[2017-03-29 11:39] verlok commented on #77
Browsers don't have the technology to understand a srcset in a background image... yet.
There's a working draft named [image-set](https://drafts.csswg.org/css-images-3/#image-set-notation) but it's currently just a draft.

[2017-03-29 17:07] verlok commented on #57
Jeez, you're impossible :)
It doesn't work there because you didn't put the `async` attribute in the script.

[code]

[2017-03-29 18:57] Niresh12495 commented on #57
Google analytics works with or without async attribute,
Google Adsense works with or without async attribute,
Twitter's widget.js works with or without  async attribute
i still wonder why your lazyload doesn't work with async attribute?

I know this is wrong async usage, but an async script should work with or without async attribute, something is wrong think about it.

[2017-03-29 18:58] MDSilviu commented on #77
I was referring at a feature that will allow a similar functionality, for example setting multiple images (srcset like) and depending on screen size (width or height) lazy loading the one that fits the best.

[2017-03-29 21:06] verlok commented on #57
It would work without `async` either, if you just put the global options object before the script, as I told you some posts ago. :)

[2017-03-29 21:08] verlok commented on #77
That wouldn't be a lazy load, but a totally different thing. My script has only the purpose to load images (or iframes) as they enter the viewport. Maybe you should look for something else.

[2017-03-30 06:27] verlok commented on #57
In addition, to make LazyLoad listen to the `window`'s `load` event would be a very bad practice for my script, because it's users might want control on its exact execution time, maybe because they need to integrate it with others scripts.

In fact, the examples you reported (Google analytics etc) are script that don't have any influence on the web page / web app execution, they just do additional

[2017-03-31 06:06] sensorario opened #78 "CONTRIBUTING file is missing"
With CONTRIBUTING.md file you can tell contributors how to contribute to the project. Every time a contributor try to make a pull request can read the guidelines. Very helpful tool.

[2017-03-31 06:17] verlok commented on #78
What are you waiting for? Add it with a pull request :)

[2017-03-31 06:23] verlok commented on #78
Just joking... will add it soon

[2017-04-06 11:53] fspeckmaier opened #79 "'Object.assign' not transpiled"
IE-Browers < 11 are throwing a error because Object.assign is not available. Maybe you could at a polyfill aka Babel transform (babel-plugin-transform-object-assign) for your transpiled version.

My quick workaround was using

`if (!Object.assign) {
    Object.assign = $.extend;
}`

Stumbled up this error while cross browser testing and was a bit confused because you're readme says it works for IE

[2017-04-06 17:43] verlok opened #80 "Use dataset"
Use dataset instead of getAttribute("data-" + attribute)

[2017-04-06 20:36] verlok commented on #79
Hi @fspeckmaier,
did you use the transpiled version of the script, or the ES6 one?
See https://github.com/verlok/lazyload/tree/master/dist

[2017-04-06 20:54] #78 closed

[2017-04-07 03:24] verlok opened #81 "Use rollup.js"
Use [rollup](https://rollupjs.org/) to write the module in ES6 format, then bundle it. Ish.

[2017-04-07 03:28] verlok opened #82 "Review readme and website info"
- Check if everything is up to date with the latest releases
- Write it in a more pleasant way, more "how to" and less "why" (or move the why later)

[2017-04-07 04:18] verlok commented on #57
Released version 6.2.0 which now supports async loading and auto initialitazion.

[2017-04-07 04:18] #57 closed

[2017-04-07 04:59] verlok commented on #57
@Niresh12495 please read the `async` loading note on my README.md, including the note about DOM readiness. Thanks.

[2017-04-07 21:27] verlok commented on #58
Hi @zedL, thanks for the delay. I did it!

[2017-04-07 21:28] #58 closed

[2017-04-08 13:24] zedL commented on #58
Hello @verlok,
thanks a lot, I will try.

[2017-04-08 21:01] verlok commented on #58
@zedL I released another version (6.3.1) with the class name being `initial` like you suggested.

[2017-04-09 13:47] verlok commented on #58
There's also a demo in the demos folder. It fades in all the images except the first batch.

[2017-04-09 13:49] verlok commented on #81
Then check the minified weight compared to the one in the development folder

[2017-04-09 13:57] verlok opened #83 "From grunt to gulp"
Grunt is the past, why don't use the much faster gulp?

[2017-04-09 16:30] zedL commented on #58
Thats nice, thanks a lot. I will use it in my project.

[2017-04-09 17:58] verlok commented on #58
Glad to hear that ;)

[2017-04-09 20:20] verlok commented on #82
* highlight technology

[2017-04-09 22:57] imfelipe opened #84 "Is it possible to re-lazyload an element that is already in the viewport?"
I have the following situation:
I have a series of images that are lazyloaded. Given an event, I'll update all src attributes with new values, and I want these values to be lazyloaded.
This works fine when the images are *not* in the viewport, but images there are in the viewport are not loaded. Like so:
[code]
When the event happens, I replace the elements:
[code]
Then I call ```lazy.reload()```.

[2017-04-11 16:48] verlok commented on #84
Hi @imfelipe,
thank you for asking here.

What happens is expected, because LazyLoad marks the images that have already been processed and never looks back to them again. I did this to boost performance.

What I suggest you to do is, when you need to update your images, check before if they have a `src` already  set.

If the `src` attribute was already set, to update the image you should set the `

[2017-04-11 19:50] verlok commented on #81
Done in version 7.0.0

[2017-04-11 19:50] #81 closed

[2017-04-11 21:26] verlok commented on #80
Done by version 7.2.0

[2017-04-11 21:28] #80 closed

[2017-04-12 11:30] imfelipe commented on #84
hmm this won't help, because if all images in the screen were loaded, when I update the `src=` I would make a bunch of requests, and I wouldn't be lazyloading.
It makes sense optimization wise, though, and what I want to do is kinda awkward. It's all right. Thanks!

[2017-04-12 13:09] verlok commented on #84
Ok so in the latest version I'm using `dataset`s to mark the element as processed ([see code here](https://github.com/verlok/lazyload/blob/master/dist/lazyload.transpiled.js)), so you could mark the element as NOT processed after setting the image source in the data-original element.

Long story short, I suggest you to do the following:

[code]

What do you think?

[2017-04-12 13:48] vonPiernik opened #85 "Loading images on refresh"
Hi! When I refresh the page the images are not loading until I scroll a bit up or down.  Have you any idea what could be causing this problem?
Regards

[2017-04-13 03:36] imfelipe commented on #84
Oh, I think I got it!
Setting `wasProcessed` to false breaks the lazy-loading in all my tests. So we just apply drastic measures and brutally remove it. Solved!
I was making a fiddle to show I wanted to do, and got it working, check this out: https://fiddle.jshell.net/imfelipe/nctzz5gv/1/

[code]

[2017-04-13 05:45] verlok commented on #85
Hello @vonPiernik,
thank you for reporting this issue.

In order to be able to resolve this, I need more information in order to reproduce the bug.

* Which version of LazyLoad are you using?
* In which browser and browser version are you experiencing the problem?
* Could you provide the HTML, CSS and JS code you use for your images?
* What are the steps to reproduce the problem?

Please answer th

[2017-04-13 10:26] verlok commented on #84
Seems good to me. Great!

[2017-04-13 10:26] #84 closed

[2017-04-13 19:55] Niresh12495 opened #86 "Is it possible to Execute a Command When An Element becomes visible"
This might be a feature request.
may be a stupid question

Is it possible to execute a command when an element becomes visible
`<div id="test1">`
`</div>`
`<script>
if (test1 visible) {
run_a_command;
}
</script>
`
This is not about call back functions, because they execute in batch for all elements detected this is about specific element.
Im asking this question because i would like to execute se

[2017-04-17 06:54] verlok commented on #85
@vonPiernik you there? Are you still experiencing this issue?

[2017-04-17 11:35] Niresh12495 commented on #85
`skip_invisible : false` will solve the issue.

[2017-04-17 11:36] Niresh12495 commented on #86
Any how i found out a method in which i could execute it, im closing this myself .

[2017-04-17 11:36] #86 closed

[2017-04-17 17:49] verlok commented on #86
The answer is to use a callback, the callback_processed callback, which passes the element as an argument

[2017-04-18 06:44] verlok commented on #85
Thanks @niresh12495, but this is not the recommended solution. The skip_invisible option is there for another reason. I want to investigate and understand why this happens. Is that because the images are initially invisible?

[2017-04-18 07:08] vonPiernik commented on #85
Hi, sorry for the delay. I'm using `skip_invisible` because I have tabs with images, so this is only way to make this tabs working, aye?
My version of lazy is the latest version I think, downloaded maybe a week ago. Chrome 57.0.2987.133 (64-bit).
My code here: https://pastebin.com/wh6qn4G6
I know it's mess, combination of wordpress gallery and data tables and lightbox plugin ;D But it's a messy si

[2017-04-18 08:19] Niresh12495 commented on #85
Ok i found out that http://azaliowe.pl this is your website, i have checked few image elements all the image are referenced to src not data-src
You are using lazyload wrong
Here is a website where you can check lazyloading of verlok
https://www.guest.blog/2427/benefits-of-drinking-alcohol/

[2017-04-18 08:25] vonPiernik commented on #85
I'm a bit stupid ;D This website must working so lazy is currently disabled and I give you code from living website, sorry for that. When I tried to use lazy the data-src was set up and it worked fine except when i refreshed without scrolling.

[2017-04-22 07:18] verlok commented on #85
Sorry for the delay. I'll check.

[2017-04-22 07:24] verlok commented on #85
@vonPiernik you reported only the HTML code in your previous comment. Can you also give me the JavaScript code that you're using, and more information about how you load the script (in the header, in the footer, with or without the `async` attribute)?
By the way, have you read the new recipes and guide I've created on the new [LazyLoad website](https://verlok.github.io/lazyload)?

[2017-04-24 18:34] toddmilliken opened #87 "Picture element not fetching correct source (Chrome, Firefox)"
On Chrome and Firefox, only the image on the `<img />` tag's `data-original` attribute is loaded. The source element's `data-original-set` attributes are ignored.

I tested the demo and verified no change is occurring.
https://verlok.github.io/lazyload/demos/with_picture.html#/it/donna/stivaletti_cod44721746jj.html

I also put together a codepen and can verify its not change
https://codepen.io/ema

[2017-04-24 20:00] toddmilliken commented on #87
I think the fix is that we need to camelCase the data attribute before running it thru `pictureChild.dataset[srcsetDataAttribute]` on lazyload.setSources.js line 9.

See https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/dataset#Name_conversion

I'll try and submit a pull request today or tomorrow.

[2017-04-25 06:41] verlok commented on #87
Thanks @toddmilliken,
this must be due to the recent switch to the use of datasets.
Today is a holiday here and I'm far away from any coding device :) but I'll merge your PR in if you make it today.
Please use a branch named hotfix/sources to code the fix in, and remember to create the dist folder files and bump the version by 0.0.1

[2017-04-25 12:27] toddmilliken commented on #87
Ok no problem.

I was thinking of adding a helper function to lazyload.setSources that will take a data attribute input and return the camelcase version. I'm able to get it working but am stuck on building the es6 minified version in the grunt uglify task.

When I run `grunt` it seems to choke on uglifying the ES6 code on line 73 of `lazyload.js`. Is there a special work around you have to get thi

[2017-04-25 13:05] verlok commented on #87
Wait, what is the problem to be solved exactly? Why can't the final user already put the option in camel case instead of having the script to convert it?

[2017-04-25 13:25] toddmilliken commented on #87
The issue is that the default attribute `data-original-set` is being using like this on lazyload.setSources.js on line 9:
`pictureChild.dataset['original-set']`

This is invalid because dataset accesses the attributes in camelcase form. It needs to be rewritten as:
`pictureChild.dataset['originalSet']`

It looks like there is an option ( `data_srcset` ) for users to customize the data attribute on

[2017-04-25 16:56] verlok commented on #87
Thanks,
I understood what is happening, but isn't enough to change the default `data_srcset` option to `originalSet`?

[2017-04-25 17:43] toddmilliken commented on #87
If I understand correctly, you're asking if changing the default attributes in lazyload.defaults.js from:
`data_srcset: "original-set"`
to
`data_srcset: "originalSet"`

Is that correct? If that is the case, yes -- it would resolve partially but would have two side effects:

1) HTML5 data attributes are case sensitive and cannot contain capital letters as noted by w3c https://www.w3.org/TR/2011/WD-

[2017-04-25 17:48] verlok commented on #87
Yes,
that's exactly what I'm suggesting.
It's because the dataset JavaScript API works exactly like that: if you have a `data-my-data-src` in your HTML, it would be accessible by JavaScript by `element.dataset.myDataSrc`.
So changing the default option to `originalSrc` would do the trick. For developers wanting to use a hyphenated data attribute, we could add a case in the README.

[2017-04-25 17:54] toddmilliken commented on #87
Ok I think I understand.

It seems a little odd that if a developer wants to override it, that they are forced to have an invalid HTML5 document using a camelcase data attribute on their source tags like  `<source data-myDataSrc>`

It is possible this issue may come up for devs not intimate with the plugin; although it seems like an edge-case.

Any specific reason why we shouldn't use the helper f

[2017-04-26 12:14] verlok commented on #87
Hi @toddmilliken,

It isn't forced to do that. The HTML would still be:

[code]

And the js in that case would be:

[code]

That's because JS natively does the conversion of any "data-*" attribute to camelcase inside the element.dataset property.

Check it out on [this pen](https://codepen.io/verlok/pen/LybvYy?editors=1011).

[2017-04-26 12:21] verlok commented on #87
PS: I'm trying the fix  but I'm also having problems with uglify... :|

[2017-04-26 12:26] toddmilliken commented on #87
Ah, ok i see what you mean. Devs just need to pass in their custom data attribute already in camelcase form for it to work; it's up to them to enter it in hyphenated lowercase form in their own HTML.

Thanks for explaining that. Let me know if you want me to revise the pull request per your earlier instructions.

Regarding uglify - I googled "online es6 minifier" and found this to minify lazyload.

[2017-04-26 12:32] verlok commented on #87
I think the best thing is to create a new PR.
About the uglifier, I'm almost sure it worked on my Mac, and I don't understand why it's not working on this Windows machine...

[2017-04-26 12:47] verlok commented on #87
@toddmilliken I'll create a PR myself, then we can discuss it together.

[2017-04-26 13:10] verlok commented on #87
Sorry @toddmilliken I was using a git-flow plugin which automatically pushed the fix on Github.
This issue is then fixed in version 7.2.2

[2017-04-26 13:10] #87 closed

[2017-04-26 13:10] verlok commented on #85
@vonPiernik I'm closing it , if you still experience the issue please provide more information

[2017-04-26 13:10] #85 closed

[2017-04-26 17:40] verlok commented on #29
I've started to work on this [here](https://github.com/verlok/lazyload/tree/support/lazilyLoadLazyLoad)
I'll let you know where it goes

[2017-04-27 14:59] lopugit commented on #29
@verlok I use this little hack to make sure lazy images load when doing things like removing hidden classes when filtering products that have lazy load images which don't load because the window isn't scrolled.

`window.scrollTo(window.scrollX, window.scrollY-1);
window.scrollTo(window.scrollX, window.scrollY+1);`

I'm very curious to see what you come up with to listen to images coming into the v

[2017-04-28 06:30] verlok commented on #29
Interesting. I don't see why you don't use the `update` method on the LazyLoad instances, but maybe working on it I'll find out.

[2017-04-28 06:32] lopugit commented on #29
@verlok oh are you serious. That would be because I'm retarded. So to get this straight you're working on a way to detect if the image is in the viewport? Not just activated by scrolling but just, what, are you gonna poll or somehow detect all image elements coordinates?

[2017-04-28 06:39] verlok commented on #29
I think you misunderstood what I wrote.
What I was suggesting is to use the `update` method like that:

[code]

Does it make sense?
This is what I do in the "dynamic content" demo. See the demo folder. Or the readme file where there's just your case explained.

[2017-04-28 06:41] lopugit commented on #29
I know I know but I'm not talking about how you're going to implement lazyloading for images that come from outside the viewport horizontally like in the OP's question?

[2017-04-28 07:29] fspeckmaier opened #89 "Code for sizes without srcset is W3C-invalid"
If you are validating the following code, as shown in your docs,

`<img data-original="/your/image1.jpg"
    data-original-set="/your/image1.jpg 200w, /your/image1@2x.jpg 400w"
    sizes="(min-width: 20em) 35vw, 100vw">`

the W3C-Validation fails, because if you are using the `sizes`-attributes you have to provide also a `srcset` attribute to be valid.

So, one possible fix would be to prefix the

[2017-04-28 10:55] verlok commented on #29
That already works in the demo. The problem that @cnanders has is that the first images on the left in each horizontally scrolling container are loaded even if the container is outside the viewport.
I replicated the issue and I'll solve it in the future making sure that LazyLoad consider them outside of the viewport.
To close this issue, though, I have a fix in mind, which is to lazily load lazy l

[2017-04-28 10:56] verlok commented on #29
The demo I'm working on is [this](https://github.com/verlok/lazyload/blob/support/lazilyLoadLazyLoad/demos/lazily_load_lazyLoad.html)

[2017-04-28 11:15] verlok commented on #29
Solved.
[That demo](https://github.com/verlok/lazyload/blob/support/lazilyLoadLazyLoad/demos/lazily_load_lazyLoad.html) now works and it's very elegant.
F**k yeah.

Still... it should not be that complicated to use LazyLoad. I'll see if there's a better to check whether the image is visible or not, unregarding the multiple scrolling containers that might exist.

[2017-04-28 11:15] #29 closed

[2017-04-28 13:05] verlok commented on #29
Merged into master. Demo is now in the demo folder. Specifically [here](https://github.com/verlok/lazyload/blob/master/demos/lazily_load_lazyLoad.html).

[2017-04-28 13:07] verlok commented on #89
Isn't the `img` invalid also because it lacks of the `src` attribute?

[2017-04-28 13:12] fspeckmaier commented on #89
Well yes. I supplied a src anyway as a fallback using a base64 transparent
png ... So when the lazyload script runs, it replaces it with the correct
src. So for the validator it would be just a normal `img`.

... But maybe this a bit to specific or more kind of an edge case, because
I need to have the site completely valid.

2017-04-28 15:07 GMT+02:00 Andrea Verlicchi <notifications@github.com>:

[2017-04-28 13:22] lopugit commented on #29
When does the callback fire?

[2017-05-02 14:30] verlok commented on #89
@fspeckmaier can you report where you took the information from? I coudn't find it online.

[Here](https://developer.mozilla.org/it/docs/Web/HTML/Element/img) the MDN states the following:

So I guessed we could leave the `sizes` in the HTML and when the `srcset` is not present, it is just ignored.

[2017-05-02 14:39] verlok commented on #89
I also looked in the entirety of the [W3C document](http://w3c.github.io/html/semantics-embedded-content.html#element-attrdef-img-srcset), but I didn't find anything about what you reported.

[2017-05-03 09:46] Niresh12495 opened #90 "Image loading bug"
This is a bug report recently switched to 7.2.2 from 6.3.2
Lazyload not rewriting URL for one image
[Dangerous Animals](https://www.guest.blog/9267/top-10-dangerous-killer-animals/)

`<img id="site-logo" ` Look for this line in the source, `data-was-processed="true"` but not writing `lazysrc` to `src` lazyload_vlock.js contain configuration

Strange issues Im getting `data-was-processed="true"` in

[2017-05-03 09:59] Niresh12495 commented on #90
After digging around i found out what is the issue
`clas="animated fadeIn imageloading"` These are the classes assigned to the image listed above
`class_loading: 'imageloading',` This is the class loading, it is not being unset
i have added a style
`<style>. imageloading  {visibility: hidden}</style>`
 to hide images until fully loaded

[2017-05-03 10:36] Niresh12495 opened #91 "Ignore rewriting"
Feature Request
Ignore rewriting data-src to src, if data-srcset exist

Here i have modified your `lazyload.setSources.js`
It will check if browser support srcset first, if yes it will rewrite data-srcset to srcset else it will process data-src

I don't want this to be included into main source, just asking if possible add as an Option in API `data_skipsrc`

[code]

[2017-05-03 10:52] Niresh12495 commented on #90
Update, Some images are loading in some instances but some times not even loading
Everything cleared browser cache, cloudflare cache, wordpress cache everything

[2017-05-03 13:39] verlok commented on #90
Hi @Niresh12495,
can you report the Javascript and HTML code you're using?
Otherwise it's very hard for me to help you.

[2017-05-03 13:42] verlok commented on #91
It's OK to me to include it in the main code, but I fail to see why.
If `srcset` is not supported, why care if it goes in the `img`'s `srcset` attribute?

[2017-05-03 14:00] Niresh12495 commented on #90
This is the HTML after loading the page
`class_loading: 'imageloading',` is not being removed
Try to view few pages of this website to check the issue yourself
https://www.guest.blog/5671/10-inspirational-robin-williams-quotes/

[code]

This is the option im using

[code]

i tried combining div and a tag into single  `elements_selector: "a div"` it doesn't work that way, this is another bug in laz

[2017-05-03 14:33] verlok commented on #90
Oh, I can see the problem now.
In Javascript, there aren't "loaded" events fired wen setting background images. Therefore, LazyLoad can't neither call the `callback_load` nor remove the `loading` class.
Since you're using background images instead of regular images, there's no way to fix this. I'd suggest to use the good old `img` tag instead.
Please note that this has always been like that, it's

[2017-05-03 14:33] #90 closed

[2017-05-03 15:23] Niresh12495 commented on #90
`<img id="site-logo" data-lazysrc="https://cdn.guest.blog/wp-content/uploads/2017/02/guest-blog-logo.png" alt="Guest Blog" data-bsrjs="https://cdn.guest.blog/wp-content/uploads/2017/02/guest-blog-logo@2x.png" class="animated fadeIn imageloading" src="https://cdn.guest.blog/wp-content/uploads/2017/02/guest-blog-logo.png" data-was-processed="true">`

Does it looks like background image? my header lo

[2017-05-03 15:37] Niresh12495 commented on #91
In some instances browser will ignore and load `src` instead of `srcset`,
but when `src` is not defined `srcset` will be forced to load.

Here are some related issues
http://stackoverflow.com/questions/29715791/browser-is-loading-two-images-one-for-srcset-one-for-src-chrome-41-et-al

[2017-05-03 16:33] Niresh12495 commented on #90
This the exact problem im having just view the video
https://www.youtube.com/watch?v=PsoYIJm6Z9I

[2017-05-04 09:56] Niresh12495 commented on #87
This issue is related to
https://github.com/verlok/lazyload/issues/90
I have tested 7.1.0 version of verlok lazyload it is working perfectly but now
7.2.0 == 7.2.1 && 7.2.2 the issue exist in these versions

with `element.getAttribute` it was working good but now with `element.dataset` causing the issue check out the video listed below
https://www.youtube.com/watch?v=PsoYIJm6Z9I

[2017-05-08 13:24] Niresh12495 opened #93 "lazyload call back functions not working properly after switching to element.dataset"
Bug report,
This issue is related to
https://github.com/verlok/lazyload/issues/90

I have tested 7.1.0 version of verlok lazyload it is working perfectly but now
7.2.0 == 7.2.1 && 7.2.2 the issue exist in these versions

with element.getAttribute it was working good but now with element.dataset causing the issue check out the video listed below
https://www.youtube.com/watch?v=PsoYIJm6Z9I

[code]

[2017-05-09 09:59] briwg opened #94 "Fade in effect"
Would it be possible to add a fade in effect and make it available via the api? The Tuupola plug-in uses:

effect : "fadeIn"

Alternatively is there a way of achieving this via the current api?

[2017-05-10 05:34] verlok commented on #94
Yes. There is a demo and a recipe. Just read the readme file or the website. You can find the demo under the demos folder.

[2017-05-10 05:34] #94 closed

[2017-05-10 05:39] verlok commented on #93
Thanks for the video, but in order to understand what's happening I need to see your HTML, JS and CSS code.
Can you provide it in a Codepen or a Codepen project?
Otherwise I can't help you.

[2017-05-10 05:51] verlok commented on #94
Sorry I just realized there's no recipe and no link to the demos folder in the README file.
Here you go: https://github.com/verlok/lazyload/blob/master/demos/fade_in.html

The fade in here is delegated to CSS so it's much faster than a JS animation (which is what Mika's jQuery LazyLoad does).

You could change the fade-in to anything else just changing the CSS. :)

[2017-05-10 06:00] Niresh12495 commented on #93
What about a live site
https://www.guest.blog
https://www.guest.blog/8314/101-relationship-tips/

This is the JS code being used, HTML
[code]

HTML is normal
Here is an example
Example 1: Data SRC issue

`<img id="site-logo" data-lazysrc="https://cdn.guest.blog/wp-content/uploads/2017/02/guest-blog-logo.png" alt="Guest Blog" data-bsrjs="https://cdn.guest.blog/wp-content/uploads/2017/02/guest-blog-

[2017-05-10 08:44] briwg commented on #94
Great! Works well. Many thanks.

[2017-05-10 17:45] verlok commented on #94
You're welcome 😊

[2017-05-12 15:42] otr-tomek opened #95 "W3C validation error: You can add 'data_sizes' in options"
W3C walidator: Error: The sizes attribute may be specified only if the srcset attribute is also present.

[2017-05-12 21:08] verlok commented on #95
Duplicate of #89

[2017-05-12 21:08] #95 closed

[2017-05-12 21:34] verlok commented on #93
Hi @Niresh12495,
I'd be very happy to solve this issue, if I only could replicate it. It would be very use you could replicate the problem in an _isolated environment_ such as [Codepen](https://www.codepen.io).

I did some tests, using v7.2.2 and it all worked fine. See the following:

* Background images lazy loading --> https://codepen.io/verlok/pen/NjMgBX
* Regular Images lazy loading --> https

[2017-05-13 06:50] Niresh12495 commented on #93
I cant replicate it
i just dont understand why cant you just check the website link i have given above?

[2017-05-13 08:24] verlok commented on #93
Because in the links you provided all seems to be working...

[2017-05-13 08:24] verlok commented on #93
...and if you can't replicate it in an isolated environment, it's not a LazyLoad bug.

[2017-05-14 10:40] Niresh12495 opened #96 "Two issues"
Why lazyload is not working
https://codepen.io/Niresh12495/pen/jmxgeo

How can i .update() .destroy() multiple events in the following example

[code]

[2017-05-14 14:39] Niresh12495 commented on #93
Ok im sorry, I'm little hot tempered
as you said safari webkit `element.getAttribute` is not playing good
but you have to consider this because most of the users have iPhone and all iPhone browsers are using safari webkit [iPhone, iPad, iPod & Macs]

[2017-05-14 14:41] verlok commented on #96
Because in the way you did it, codepen injects the LazyLoad script before you declare the options for it. The correct way to do it on codepen is this: https://codepen.io/verlok/pen/GmGgJE

[2017-05-14 14:51] verlok commented on #96
It's complex to use it async and with multiple instances. You need to save the instances as they are created using the event listener of the event `LazyLoad::Initialized`. Each time the event is fired, it passes an instance of LazyLoad in its callback (`e.detail.instance` in the codepen example). You then need to distinguish between the instances and know when to use which.

For a simpler use case

[2017-05-14 14:51] #96 closed

[2017-05-14 14:55] verlok commented on #93
`getAttribute` was used in the old version of LazyLoad. The newer uses `dataset`, which is widely supported in every current browser version and previous version too. [Check here](http://caniuse.com/#feat=dataset).

I tested my previous pens on Safari on MacOS Sierra and everything is working perfectly.

[2017-05-14 14:55] #93 closed

[2017-05-14 14:56] Niresh12495 commented on #91
So did you made any decision ?

[2017-05-23 16:55] rflmyk commented on #87
I have been a same problem, how I get version 7.2.2? I'm using npm but this version don't over there?
Can help me?

[2017-05-29 05:10] perfilev commented on #94
Is it possible to fade background image in?

[2017-06-01 11:07] grund3g opened #97 "All images are loaded when using data-original-set"
When using the data-original-set attribute, the image is loaded, even if it is outside the viewport.

[2017-06-01 11:32] #97 closed

[2017-06-01 15:13] verlok commented on #97
Why did you close this?

[2017-06-13 02:17] nina514 opened #98 "ie10, ie9 not work. error message "Unable to get the 'wasProcessed' property, which is not defined or a null reference.""
Report a bug.

I am using version 7.2.2.

Ie10, ie9, an error stating that there was no wasProcessed value.
You have selected a div element.

This is an error because the dataset is not initialized and there is no logic to check for members.

Please fix.

This is my modified code.

[code]

[2017-06-13 11:12] reportingforduty opened #99 "How can we improve Lazyload with DIV tag?"
* **What is happening?**
When I open a hidden DIV(triggered by showme() js), lazyload didn't load any images until I scroll down a bit.
Also, when I can't scroll down(didn't open anything except one DIV block = everything in 1 screen), lazyload couldn't load these images.
So, **how can I trigger Lazyload to load the image when the user open DIV block**?
(all images are inside `<div> ~ </div>`.)

*

[2017-06-13 11:46] reportingforduty commented on #99
YEEEEEEEEEEEEEEEEEEEEEEEEESSSSSSSSSS! I figured it out!
Please include this to your toppage so other people can understand it!!
`
<a onclick="showme('57');lazyman.update();">+</a>`

`<script src="lazyload-git.js"></script><script>lazyman=new LazyLoad();</script></html>`

Calling .update() after DIV open FIXED THIS!

[2017-06-16 06:54] verlok commented on #98
Thanks for letting me know.
IE less then 11 are not supported, though.
Does this fix only make the script compatible for IE9? I didn't know that.

[2017-06-16 07:00] verlok commented on #91
The script does the right thing setting the `srcset` before the `src` so if `srcset` is not supported it will be ignored, whereas where it's supported it will be considered.
The browser bugs you mentioned are browser bugs, related to a very old version of Chrome and to a polyfill. They are not my script bugs.
So I won't change anything.

[2017-06-16 07:00] #91 closed

[2017-06-16 07:02] verlok commented on #99
Sorry about the delay.
Yes, the solution you found is correct!
The update method is meant to be used right for that purpose.

[2017-06-16 07:02] #99 closed

[2017-06-19 13:40] nina514 commented on #98
The features I want work fine.
There's nothing wrong with delay loading the div.
Let's test it to see if it works with other features.

Thanks for making a good plugin.

[2017-06-19 13:40] #98 closed

[2017-06-23 01:31] FEDuser opened #102 "Issue on mac safari 8/ safari 9"
(1) I am using latest version of lazyload js.
(2) on safari 8/ 9, It is showing following error-
SyntaxError: Unexpected keyword 'const'. Const declarations are not supported in strict mode
line -   const isBot = !("onscroll" in window) || /glebot/.test(navigator.userAgent);

[2017-06-23 07:05] verlok commented on #102
Hi,
Sorry about that. Those versions of Safari are not supported by my script.
You could try replacing `const` with `var` to solve this specific issue.

[2017-06-28 15:17] davthu commented on #98
I can't see that browser support is mentioned anywhere in the documentation.

[2017-06-30 14:32] aggreggator opened #104 "Please publish v7.2.2 on NPM - data_srcset problem"
Hi Verlok,

first thanks for this great plugin. :)

Could you publish https://github.com/verlok/lazyload/releases/tag/7.2.2 on NPM?
Only v7.2.1  is published on NPM: https://www.npmjs.com/package/vanilla-lazyload

i've installed your plugin with:
[code]
I thought the newest version 7.2.2 was installed...
Had the problem that only the data-original was transformed to src attribute.
data-orignal-set

[2017-07-04 05:32] verlok commented on #104
Done!
Thanks for letting me know

[2017-07-04 05:32] #104 closed

[2017-07-04 05:36] verlok commented on #102
Wait there @FEDuser,
are you using the non transpiled version of LazyLoad?
You should be using the file `lazyload.transpiled.min.js`!
I'm gonna update the readme file about this, since I didn't make that clear.
Thanks for letting me know.

[2017-07-04 05:36] #102 closed

[2017-07-04 06:51] verlok commented on #104
@aggreggator please note that I've just released version 8.0.0. Version 8.0.0 is the same as 7.2.2 but with renamed dist files. The main transpiled file to include is now `dist/lazyload.min.js` as you would expect, and no longer `dist/lazyload.transpiled.min.js`.

[2017-07-04 08:43] verlok commented on #102
Hi @FEDuser,
I recently released version 8. If you use this version, just include `lazyload.min.js` as you're probably already doing.
Thanks

[2017-07-05 19:02] Princu7 opened #105 "Lazy load images inside a non visible container"
**Are you reporting a bug or requesting a feature?**
Not really a bug but an issue I am facing.

**What is happening?**
I have a bunch of collapsible divs which expand on the click of a button. These collapsible divs have an image inside them. Now, what I want to do is that these images should be lazy fetched like the same case when the images are actually visible on the page. But what is happenin

[2017-07-06 12:13] regenrek opened #106 "packery with lazyload"
Do anyone has a working example with [packery](http://packery.metafizzy.co) ?

Thank you in advance

[2017-07-06 15:45] verlok commented on #105
Hi @Princu7,
I took a look at the pen you linked, and the expected behaviour seems to me already the right one.
Have you managed to solve this by yourself, using the `skip-invisible` option set to false?
If yes, please close this issue.

[2017-07-06 15:46] verlok commented on #106
I don't, but if you tell me what you'd like to achieve, maybe I can help.

[2017-07-06 16:01] Princu7 commented on #105
@verlok Thanks for the reply. Sorry, I wasn't properly able to explain the problem. I have made some changes on the codepen and the buttons for collapsible elements are far away from each other. Maybe a couple of them are within the viewport and rest of them are outside the viewport. The threshold is set to a very minimum to not load images that are further ahead in the viewport.

Now, when I full

[2017-07-06 16:06] Princu7 commented on #105
Maybe this problem is occurring because the images are contained inside a div which has a property of `display: none`. I read somewhere that when an element has `display: none` as one of its property, its position is not shown. Maybe because of it, we are not able to get the position of images properly and hence they load up all at once. Please clarify!!

[2017-07-06 16:11] regenrek commented on #106
hi

i try to achieve something like rearrange after images are loaded. i implemented it here with lazy load but its kinda buggy http://www.wexltrails.at/trails/

[2017-07-06 19:53] verlok commented on #106
Thanks. Uhm, the link didn't help, I only see a 3x2 grid with 6 images in it.
Anyway, the first thing that comes in my mind, if you move around the grid elements like in the _packery_ demo, you'll need to call LazyLoad's `update` method after, or during, the rearrangement. See the [API](https://github.com/verlok/lazyload#api) section in the README.

[2017-07-06 19:59] verlok commented on #106
Psst: have you already starred this repo? All you need to do is to press the star button on the top right corner of the website. ;)

[2017-07-06 20:02] verlok commented on #106
★

[2017-07-06 20:27] verlok commented on #105
What I would do in your place, instead of loading invisible images (which results in bad performance and wasting your users bandwidth), is to make the images load only as they appear on screen.

In [this example](https://codepen.io/verlok/pen/WOKqLg), which is a fork of yours's\*, whenever a collapsible is expanded, the LazyLoad update method is called, making the magic happen.

I hope this helps!

[2017-07-06 20:27] verlok commented on #105
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:28] verlok commented on #102
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:28] verlok commented on #99
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:29] verlok commented on #98
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:29] verlok commented on #97
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:30] verlok commented on #96
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:30] verlok commented on #95
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:30] verlok commented on #94
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:30] verlok commented on #93
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:31] verlok commented on #104
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:31] verlok commented on #64
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:31] verlok commented on #62
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:31] verlok commented on #59
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:31] verlok commented on #58
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:32] verlok commented on #56
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:32] verlok commented on #55
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:32] verlok commented on #50
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:33] verlok commented on #49
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:33] FEDuser commented on #102
Thank you. But I need to support very old browser. I am not using this library for now.

[2017-07-06 20:33] verlok commented on #48
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:33] verlok commented on #47
Sorry about that.

Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:33] verlok commented on #44
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:34] verlok commented on #40
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:34] verlok commented on #39
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:34] verlok commented on #37
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:34] verlok commented on #36
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:34] verlok commented on #35
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-06 20:35] verlok commented on #34
Psst: have you already starred this repo? All you need to do is to press the Star ★ button on the top right corner of the website. ;)

[2017-07-07 05:29] bigretromike commented on #64
hahaha. So you type that on each issue. I did star it - thanks for nagging

[2017-07-07 10:11] quentinneyraud opened #107 "Manually set the scroll value"
Hi,

I quickly read your code and it seems that it's not possible to manually set the scroll value. I'm using a smooth scrolling library which listen `mouse wheel` event to set CSS transform on `body` element. So `scroll` event is never fired and images not loaded.

Is someone have a workaround ?

[2017-07-07 12:27] verlok commented on #64
More or less. Only on the solved ones ;)

[2017-07-07 12:30] verlok commented on #102
Then you can use an older version of the script. Like 3.x, [find it here](https://github.com/verlok/lazyload/releases/tag/v3.0.0)
Same functionality, more or less, legacy browsers supported.

[2017-07-07 14:23] aggreggator commented on #104
★ed!

[2017-07-07 14:23] aggreggator commented on #104
★ed!

[2017-07-07 15:04] omarzion opened #108 "webkitURL is deprecated"
Not a bug
`[Deprecation] 'webkitURL' is deprecated. Please use 'URL' instead.`

Also,  I am loving your project, it was so simple to get running

[2017-07-09 07:42] verlok commented on #104
Thanks! It's 1001 stars now! :)

[2017-07-09 07:47] verlok commented on #108
Hello, thank you for reporting this.

Anyway I can't find the word webkiturl in the code of my project, neither in the transpired files nor in the es2015 ones. What did you get this notification?

By the way if you like my project, please star it if you didn't already;)

[2017-07-09 07:51] verlok commented on #107
No, my code works only on the native scroll events, even if you could set the scroll value manually, the methods always read the position properties from the elements themselves, so it wouldn't work.

I think you should develop your own lazy load, maybe you can reuse some of the code in my project to do that.

[2017-07-09 07:51] #107 closed

[2017-07-09 07:52] verlok commented on #106
I'm closing this issue now, if you still have questions do not hesitate to open it again. I hope you solved it! Let me know in the case.

[2017-07-09 07:52] #106 closed

[2017-07-09 07:53] verlok commented on #105
I'm closing this issue now, if you still have questions do not hesitate to open it again. I hope you solved it! Let me know in the case.

[2017-07-09 07:53] verlok commented on #105
I'm closing this issue now, if you still have questions do not hesitate to open it again. I hope you solved it! Let me know in the case.

[2017-07-09 07:56] #108 closed

[2017-07-09 07:56] #83 closed

[2017-07-09 07:56] #82 closed

[2017-07-09 07:59] Princu7 commented on #105
Hey. Really sorry for not being able to follow up immediately. Yes, that works :smile: But on the networks with high latency, lazy fetching it when the user presses the button means that the photo is not loaded at least for a little duration. This is the issue. I  don't want the user to know that lazy loading is going on. If we can lazy fetch the images (viewport + little extra threshold), even wh

[2017-07-09 08:02] Princu7 commented on #105
I don't see a button to reopen this issue.

[2017-07-10 02:45] verlok commented on #105
Hey. It can't, because for the invisible images it's impossible to determine their position in the scrolling pane.
I advice to re-think your concept of performance: if the connection speed is slow, loading ALL the images whether the user shows them or not is NOT a best practice, because it would hog their bandwidth, and in some cases pay money for getting nothing.
Do the best thing imho would be d

[2017-07-11 03:38] verlok commented on #105
Please let me know if we can consider this issue closed.

[2017-07-11 03:45] Princu7 commented on #105
@verlok Okay, Yes. Thanks for explaining. I totally understand what you are saying and agree with it. I think I will go with the option you suggested :+1: Actually, I was referring to those networks which have good downloading speed but high latency. But, it doesn't seem to be worth to be changing the library code for this use case. Thanks again for your help. I will ping you if I have some more q

[2017-07-11 03:45] Princu7 commented on #105
Closing the issue :)

[2017-07-11 04:08] #105 closed

[2017-07-12 04:42] WeAreUnique opened #109 "Try Re-Lazyload?"
I have multiple images in one page (>100) from wordpress.
[code]

But sometimes image full loaded, sometimes don't.
Some elements not loading with class "lazy loading".
How can I re-lazyload if image is loading?

[2017-07-12 05:37] verlok commented on #109
Sorry I didn't understand what's happening. The images start loading but they stop loading, meaning they load partially?

If an image is loading, my script's work is finished, because it just sets the images source then they enter the viewport.

[2017-07-12 06:29] WeAreUnique commented on #109
@verlok  sorry about my english.
Please check attach image
![screenshot at jul 12 13-28-58](https://user-images.githubusercontent.com/13881055/28104599-1af6b70e-6706-11e7-9e75-0a68e1a7329c.png)

[2017-07-12 16:16] verlok commented on #109
Oh,  I think I see you what's happening there. It looks like you have different scrolling containers, so you need multiple instances of LazyLoad, one for each scrolling container, like it's described in the documentation recipes. Take a look there and let me know!

[2017-07-12 21:16] hdon opened #110 "container:document.body doesn't work"
I was mocking up a thumbnail search tool:

https://gist.github.com/hdon/e58f13b0eda76421b806d404f055f469

When I Control+Shift+R reload in Chromium 58.0.3029.110 every single image on the page is loaded.

I was able to fix it by changing my instantiation of `LazyLoad` to have no arguments, but it was not expected that passing `{container:document.body}` as its first argument would break it.

Maybe

[2017-07-12 22:03] WeAreUnique commented on #109
@verlok wow. It's working.
Awesome. Thank you so much for your support 👍

[2017-07-13 02:45] WeAreUnique commented on #109
@verlok Oops, still not working.
[code]

Sometimes it's working, sometimes not.
I don't know why.

[2017-07-13 06:26] verlok commented on #110
Hi there, the "container" option must be a scrolling container, like `window` or any other DOM element with `overflow: scroll`.

But wait a minute, what do you mean with "break it"? Does it throw some error? Or it just doesn't load the images?

Thank you

[2017-07-13 06:28] verlok commented on #109
Can you show me your HTML code too?
And what happens when it doesn't work? It doesn't load the images?

[2017-07-14 04:48] WeAreUnique commented on #109
@verlok Here is some generate HTML Code
[code]
Images doesn't load, (just show data-src)

[2017-07-16 07:05] verlok commented on #109
It's very hard for me to debug from text only, without knowing what are the scrolling containers.
Could you put HTML, CSS and JS in a new Pen on codepen.

[2017-07-16 07:08] verlok commented on #110
@hdon do you still have an issue?

[2017-07-18 12:26] darbymanning opened #111 "What if user doesn't have JavaScript enabled?"
Just wondered if it's possible to retain the `src` attribute on the `<img>` tags, so if a user doesn't have JS enabled it renders the image normally.... or would this prevent LazyLoad operating as the browser would render the images?

Any other ideas for making this work for users without JavaScript enabled?

[2017-07-19 11:54] verlok commented on #111
You could use a `noscript` tag containing the `img` as you would use it if you didn't have JavaScript. That's the only way to support JavaScript disabled browsers and not impacting performance for the vast majority that have JavaScript enabled

[2017-07-19 14:49] #111 closed

[2017-07-22 23:19] dalvaradotey opened #112 "Image types webp/jpeg"
Hello!
Congrats for the scripts, it's awesome.

I have both image versions (jpeg and webp).  According to each browser support, I need to load one of them:

[code]

But I can only load the jpeg version, how can I load the webp type version?

[2017-07-23 07:46] verlok commented on #112
Interesting question, nobody asked about webp before.

First of all, sorry but I have to ask, are you testing this in Chrome, right? :)

Secondly, did you know that there are services that makes you free from generating more images versions per dimensions and formats? One of these is Cloudinary.com - take a look!

Finally, I have to test this on my own Chrome to unterstand what is happening. And t

[2017-07-24 11:54] dalvaradotey commented on #112
@verlok, yep ... testing in Chrome with original code and work fine.
[code]
I know about cloudinary... and tried google pagespeed module with nginx, but i think i can make some optimizations by my own.

Thanks for checking

[2017-07-25 19:50] verlok commented on #110
Closing. If you still have this issue, please re-open.

[2017-07-25 19:50] #110 closed

[2017-07-25 19:52] verlok commented on #112
I'm checking now. I'll let you know soon.

[2017-07-25 20:23] verlok commented on #112
Hi @dalvaradotey,
I created [this pen](https://codepen.io/verlok/pen/mMyLdJ) in order to reproduce the bug, but I couldn't reproduce it.
Chrome is downloading the webp both on the _eagerly loaded image_ and on the _lazily loaded image_, whereas Firefox is downloading the jpg in both images.
If you could please fork my codepen and put there your html and js (and css?) code maybe I can help you unde

[2017-07-26 03:05] dalvaradotey commented on #112
@verlok,
Ok, I'm testing the pen file making some modifications, the problem was on 7.2.0 version. I'm upgrading to 8.0.1 and now work fine :) Sorry, I used cdn script in the README example .

Thanks again for this great script.

[2017-07-26 03:05] #112 closed

[2017-07-28 02:16] liitfr commented on #105
@Princu7 did you consider service workers ? Your requirements look like a common use case.
Maybe worth have a look :eyes:
Good luck, Mathias

[2017-07-28 06:25] Princu7 commented on #105
@liitfr Thanks! Yes. I have read about service workers and they are great to reduce the loading time of the page on subsequent loading. The problem which I am facing is on the initial load of the page when the images either load up all at once (without lazy load which takes up quite some time) or when the div is collapsed on user click (done with lazy load). But due to high latency, the time taken

[2017-07-29 05:50] verlok commented on #105
And didn't you consider using a CDN to reduce images latency and loading time?
We use Akamai at our company and I strongly advice using it. They also have a service to optimize images automatically.
Alternatively, you could use other CDNs, or use Cloudinary which is a service that scales and optimize your images, and it integrates Akamai's CDN.

[2017-07-29 15:43] liitfr commented on #105
Ho I see !

Custom lazy Load solutions like this one [suggested by David Walsh](https://davidwalsh.name/lazyload-image-fade) could fit.

As a last resort there's another package that has an option that particulary adresses your need : https://github.com/aFarkas/lazysizes#js-api---options

I apologize in advance if this last suggestion is inappropriate here ...

Mathias

[2017-07-30 07:25] verlok commented on #105
I'd suggest NOT to download all images after the window load event since users browsing from mobile will have a paid connection / limited bandwidth and it's really NOT NICE to them sucking them traffic even if they aren't interested in the whole page content / they clicked a link as a mistake.

PS: Not a problem, I know about LazySizes from @aFarkas :)

[2017-07-30 07:50] verlok commented on #105
If you want to achieve best performance my suggestion is to eagerly load the first N (4? 8?) images of the page, then lazily load the rest.
This is because the browser will start to download the first N images as soon as the page is parsed, then the lazy ones when JavaScript (LazyLoad) is parsed and executed.
To avoid having the "image is loading" effect on page you could play with the `threshold`

[2017-08-01 08:58] brokleen opened #113 "Images are not loaded in chrome before scroll stops"
In chrome if you don't stop scrolling, the lazy elements are not loaded.
Has anyone found a solution to fix that ?

[2017-08-01 10:58] verlok commented on #113
Have you tried playing with the `throttle` option?
Its default is `150` and it means "if another scroll event is fired within 150 milliseconds, wait another 150 milliseconds".
Try diminish the value to 50 and see what happens.
Let me know if you solved or not.

[2017-08-01 12:05] brokleen commented on #113
Same with throttle set at 50.
I have this issue on chrome for mac os, on windows everything works well

[2017-08-01 14:03] verlok commented on #113
Sorry, I just figured out a bug on the throttling function, and released version 8.0.2 which fixes it.
Can you update to 8.0.2 and check again?

[2017-08-01 14:04] verlok commented on #113
Otherwise, can you put your HTML, CSS and JS code on a [Pen](https://codepen.io/) and send me the link, so I can check?

[2017-08-01 14:05] brokleen commented on #113
I found the issue.
I have a conflict between lazyload and [Pikaday](https://github.com/dbushell/Pikaday)
When Pickadate is active and when I don't stop scrolling the images keep the pending states in the network inspector.

[2017-08-01 20:02] #113 closed

[2017-08-02 12:33] verlok commented on #109
Still interested?
If yes, reopen and post the code on codepen.
Thanks

[2017-08-02 12:33] #109 closed

[2017-08-02 22:36] sebastianbarfurth opened #115 "Ability to apply classes to the parent of the elements"
Having the ability to put the classes higher up in the element tree would make CSS work on the images a lot easier, since CSS can only select down the hierarchy and not up. This way the parent container could be animated (or whatever else) based on the the status of the image.

A simple example would be an overlay over the images. The markup for that would look something like this:

[code]

Since

[2017-08-03 06:13] verlok commented on #115
Hi @sebastianbarfuth and thanks for your input.

Have you checked the callbacks that you can pass in as options to LazyLoad?

You can use the `callback_loaded`, which is called exactly when the `loaded` class is set by LazyLoad, to set the class to whatever element you want up in the DOM tree.

There's actually no difference, in terms of performance, between you making it in your JavaScript, and m

[2017-08-03 06:16] sebastianbarfurth commented on #115
I'll see about it, it was just a thought I had while working with the script.

[2017-08-03 06:16] #115 closed

[2017-08-10 20:19] verlok commented on #72
Hey @ricardobrandao and @si14!

I've just opened a [new feature branch supporting IntersectionObserver](https://github.com/verlok/lazyload/tree/feature/intersectionObserverSupport).
And it works! 👍

The only thing that I can't figure out for now is how to manage the fallback for browsers where IntersectionObserver is not supported. I didn't want to include the whole IntersectionObserver polyfill,

[2017-08-10 20:55] verlok commented on #72
As a reference: https://github.com/GoogleChrome/sample-media-pwa/blob/master/src/client/scripts/helpers/lazy-load-images.js

[2017-08-11 05:06] G100g commented on #72
Split legacy code and load only if necessary could be a solution
But mean a complicated setup by the user.

This will left the weight low.

We hope to see soon the

[code]

In all browsers

[2017-08-11 12:11] Hackintosh opened #117 "Does negative threshold values supported?"
Feature confirmation?

Does negative threshold values supported?

`threshold: -150;`

If yes will they work properly?
because i tried negative value, it was working but some images were not loaded, even if i scrolled up & down in the viewport until the threshold value met

[2017-08-12 19:09] javadi69 opened #119 "default image src"
Is there any way to place default image for IMG tags?
So when an image can not be load, the default image shown instead of nothing.

[2017-08-15 06:34] #119 closed

[2017-08-16 09:38] mateutek opened #120 "Callback load not firing with picture source loading"
* What is happening?
There is no callback when the srcset is loaded, but it is loading correctly in the network panel
* What is the expected behaviour?
To trigger the callback
* Which version of LazyLoad are you using?
Tested everything from 7.1.0 to 8.0.3
* Could you provide the HTML, CSS and JS code you use for your images?
[code]
Thank you.

[2017-08-22 19:50] verlok commented on #120
Ok, this code is more complex than I was expecting.
For what it looks, you have more than one scrolling containers (.js-item), each scrolling container has more than one image (.js-lazyload) and you want that when each one is loaded, the image source is set in the parent's background. Correct?

[2017-08-22 19:55] verlok commented on #120
I have some objections here:
1) did you know that LazyLoad also works with `div` and tags different than `img`? In case you instantiate a LazyLoad with `elements_selector` pointing to those elements, it will load the images as background images, automatically

2) you are reading the `src` attribute of an image, but you seem to set only the `srcset`. I would need to see the HTML code too.

Anyway,

[2017-08-23 06:39] verlok commented on #120
Or at least report the HTML code of the pictures and their containers

[2017-08-23 08:14] mateutek commented on #120
Here is Html code.

I knew that when using it on div you can set the background, but will it work with `<picture>`?

I have n-number of this containers with only 1 image inside

[code]

[2017-08-27 09:20] Hackintosh opened #122 "Classes and Functions not working"
[Check out console output](http://jsbin.com/yumujiy/edit?html,console,output)

Only two classes and two call back functions are executed

[2017-08-28 15:40] verlok commented on #122
Thanks for letting me know, I'll check what happened

[2017-08-28 15:40] verlok commented on #120
Sorry about the delay, I'll check as soon as possible.

[2017-08-28 15:50] Hackintosh commented on #122
[Class error is also not being added in thise case](http://jsbin.com/xulamox/edit?html,console,output)

[2017-08-28 21:10] verlok commented on #117
Now they are, from version 9.0.0.

[2017-08-28 21:10] #117 closed

[2017-08-28 21:39] verlok commented on #122
I can't see what's triggering the error there. Can you explain?

By the way, have you checked the callbacks demo?
Code: https://github.com/verlok/lazyload/blob/master/demos/callbacks.html

[2017-08-28 21:51] verlok commented on #122
And [this is with the exact version (8.0.3)](https://codepen.io/verlok/pen/vJVzrb) you were using on jsfiddle.
It looks all good to me.

[2017-08-29 03:26] Hackintosh commented on #122
I have no idea, but this is a bug

[2017-08-29 20:58] matthew-dean opened #123 "Dist file doesn't work with module bundlers"
I'm getting this error in the dist file when using in Rollup (ES6 module bundler):
`Uncaught TypeError: Cannot set property '_settings' of undefined`

It looks like this library relies on a `this` object which doesn't exist. A global object? Not sure if the issues are with the build from src to dist. This can also be solved by adding a "module" key to package.json that points to the module source.

[2017-08-29 21:00] matthew-dean commented on #123
Oh never mind, this is because I missed the "new" keyword. You could do a factory pattern that allows the lib to work with or without `new`.

[2017-08-29 21:00] #123 closed

[2017-08-30 14:14] WeAreUnique opened #124 "Too many container and images"
Hello,
I have multiple container (generator from wordpress).
My code:
[code]
Demo page: https://bbland.net
Please help.
Thank you so much.

[2017-08-30 19:08] bitfella commented on #122
Same here.
Css classes are not added, load callback is not triggered (but the script is working fine).
I am using latest npm package available (8.1.0), but I've tested 8.0.3 with the same result.

[code]

ES6 transpiled via Babbel, tested on Chrome 60.0.3112.90, Opera 47.0.2631.55, Safari 10.1 on Mac OS 10.11.6.

Any advice?

[2017-08-30 20:49] verlok commented on #124
Hi @WeAreUnique,
you didn't explain your problem properly.

In the link you provided me, you have only one scrolling container, the page / document.
All images are displaying correctly.

So what issue are you having?

[2017-08-30 21:03] verlok commented on #122
@Hackintosh I managed to understand what's happening with your jsfiddle:

- **callback**: the option you are passing is `callback_procesed`, whereas the correct name of the option to pass is `callback_processed` (2 "s")
- **class**: the moment in which you print the `className` or your element is at page landing, not when the image loads, so you get the initial class names and not the changed one.

[2017-08-30 21:16] verlok commented on #120
Ok so first things first: your `picture` markup has some errors, since in the `data-source` attribute you need to put the source without the width descriptor (`w`). The correct code would be the following. [DEMO here](https://codepen.io/verlok/pen/XaoNVE?editors=1000)

[code]

[2017-08-30 21:31] verlok commented on #120
Secondly, if I understand correctly, you're trying to use a hidden `picture` tag in order to lazily load a responsive image, then when the load callback is fired, read which image was loaded, and place it in the `background-image` of the parent `.js-inspiration-image` element. Right?

The main problem I see here is in the following line, since the `src` attribute of the `img` doesn't change when t

[2017-08-30 21:46] bitfella commented on #122
Hello again,
I wrote 'ES6 transpiled via Babbel' just to point out that I am not embedding lazyload as a script in a page, but I am using it as an ES6 import in a Webpack bundle (transpiled with Babbel). I was guessing that maybe that was the problem.

Anyway, I just made a [codepen](https://codepen.io/anon/pen/Nvebmj) to show you the issue and it does not seem to work as well.
Is there perhaps so

[2017-08-30 21:58] verlok commented on #122
Here I created another [demo](http://www.andreaverlicchi.eu/lazyload/demos/callbacks_picture.html) to show that the script is calling the callback and setting the classes as expected.
I'm closing the issue - since it's not a bug - but don't worry, I'm still willing to help you (another message is coming right away).

[2017-08-30 21:58] #122 closed

[2017-08-30 22:03] verlok commented on #122
Hey, you're cheating! :) In the codepen you linked you're doing a very different thing from the one you were describing above: you're now using LazyLoad to set background images directly!

The answer to the fact that LazyLoad neither fires the callbacks nor sets the classes in this case is that it's impossible to do, since no event is fired by the browser when a background image has finished loadi

[2017-08-30 22:08] verlok commented on #122
@bitfella sorry, my mistake, I'm confusing the threads (it's late here and I'm out of coffee) with #120. You're not a cheater 👍

Anyway my previous reply already answered your problem. It's just impossible to do with background images.

[2017-08-30 22:10] verlok commented on #122
@bitfella anyway, for the next time I suggest you to understand better what was the discussion before to state "I have the same problem", because @Hackintosh wasn't using background images.

[2017-08-30 22:12] bitfella commented on #122
I am sorry, I knew I was doing something wrong :)
Moreover I forgot to point out that I was using the script to load background images in my first comment. If i my give you and advice, I suggest to clearly declare this browser restriction (for background loading mode) in the docs (if it is not already there).

Thanks again

[2017-08-30 22:15] verlok commented on #120
...BUT you could change that line of code like the following, and it would work... on browser supporting the currentSrc property, meaning that it won't work on IE 11.

[code]

It should work, I'd just feel very dirty if I did the thing your trying to do. :)
Can I ask why aren't you using the `img` in `position: absolute` with a lower `z-index` instead of using `background-image`?

[2017-08-30 22:19] verlok commented on #120
Also please note that the javascript code you reported in the first post is very long and complex even for what you're trying to do, you're instantiating multiple `LazyLoad`s when you really need only one.

[2017-08-30 22:58] verlok opened #125 "Move recipes and demos to Codepen and embed them"
Move recipes and demos to Codepen and embed them

[2017-08-30 22:59] verlok commented on #72
Done

[2017-08-30 22:59] #72 closed

[2017-08-30 23:00] #77 closed

[2017-08-30 23:02] verlok commented on #120
Closing this because it's not a bug, but let's continue the discussion if you like

[2017-08-30 23:02] #120 closed

[2017-08-30 23:04] verlok commented on #124
Please note that selecting all images and divs on the page leads to very bad performance...  can't you select only the images with some class?

[2017-08-30 23:05] #124 closed

[2017-08-31 00:24] WeAreUnique commented on #124
@verlok I added "lazy" class in every div, img. But still not work.

[2017-08-31 06:00] verlok commented on #124
What exactly is not working?
Can you post the HTML code top please?
The ideal would be to create a new pen on codepen.io so I can see what's wrong with your code

[2017-08-31 06:15] verlok commented on #123
Yes I could do that, but I like to enforce  the `new` keyword because it makes explicit that the result is an object, an actual instance you can use.

[2017-09-01 20:02] vanloc0301 opened #126 "Empty src attribute link to image."
I using `lazyload` in my Laravel app.

    @foreach($products as $product)
            <div class="pic">
                <img data-src="/storage/{{$product->image}}" data-srcset="/storage/{{$product->image}} 200w, /storage/{{$product->image}} 400w"
    sizes="(min-width: 20em) 35vw, 100vw" alt="">
            </div>
    @endforeach

Typical, its only like:

`<img src="/storage/{{$product->image}}"

[2017-09-01 20:54] verlok commented on #126
Thanks for reporting this issue.
Can you report the JavaScript code you're using?

[2017-09-01 22:07] vanloc0301 commented on #126
I follow at `#Responsive images - srcset and sizes` from `Readme.md`:

Full code (Laravel blade template include CSS and JS file):

[code]

I think `lazyload` is working because it auto generate: `class="loading"` and `data-was-processed="true"` when I run my project.

I tested on `master\demos\with_srcset_sizes.html`. When running this file, it auto generates element has `src` attribute have URL

[2017-09-01 22:18] vanloc0301 commented on #126
From the description on `LazyLoad`:

My image is `.png` file. Is that the problem?

[2017-09-02 13:57] verlok commented on #126
I got the problem: you are using version 9.0.1 instead of 10.0.1, and you sto arrivando using the default options from version 10.
Just use the newest version and it will work.

[2017-09-02 13:57] verlok commented on #126
When you solved, please close this issue

[2017-09-02 14:02] verlok opened #127 "Make elements_selector accept DOM elements"
See discussion in #121

[2017-09-03 17:58] anastasialanz opened #128 "Safari 10.1.2 - Issues with LazyLoading over 128 images"
Are you reporting a bug or requesting a feature?
Bug report

If it's a bug, it would be very useful to me if you answered the following questions.
Your answers will help me understand what's happening and enable me to reproduce the bug.

* What is happening?
When I look at a page that is lazyloading over 100 images, sometimes the images do not show up and also do not fade it. After many reloads of

[2017-09-04 09:07] ricardobrandao commented on #72
@verlok sorry for the late reply but I was abroad on vacations (actually I've visited your country for the first time :)). Thanks for supporting IntersectionObserver!! I'll take a look to what you've done.

[2017-09-04 09:27] verlok commented on #72
Cool, I hope you enjoyed Italy!

I just wrote a blog post about the work I've done, find it [here](http://www.andreaverlicchi.eu/using-intersection-observers-to-create-vanilla-lazyload/), and you're mentioned with a link!

Share it on Twitter / whatever if you like ;)

[2017-09-04 09:45] ricardobrandao commented on #72
It was awesome, thanks :)

Nice article, I've shared it on twitter.

[2017-09-04 09:52] verlok commented on #72
<3

[2017-09-04 09:57] verlok commented on #128
Thank you for reporting this.
The problem is that version 10 uses Intersection Observer, which is not yet supported in Safari.
As a fallback, LazyLoad version 10 loads all the images at once, which is not nice when you have a lot of images to deal with.
You can solve this easily using the latest version less than 9 of my script, which is version 8.1.0.
Let me know if this can be closed.
Thanks!

[2017-09-06 12:55] warudin opened #129 "LazyLoad hidden images"
I'd like to know if it's possible to force lazyLoad to load images that aren't visible at a certain moment.

More specifically, I want to use this for a slider which uses background images. I'd like to load the backgrounds for the next two images when the slider is initialized and when the position is changed.

[2017-09-06 16:41] verlok commented on #129
Well, I never tested it on a slider because version until 8 worked listening to the container's scroll event, which is not triggered by a slider. But I guess that this could work from version 9 up.

Just set the `threshold` option to the amount of pixels beyond the slider that you want to start loading the images at.

In your case, if the slider is horizontal and the images are 300px wide, set the

[2017-09-08 10:54] vanloc0301 commented on #126
@verlok sorry, I'm not online about 1 weeks. It's working. Thank you very much.

[2017-09-08 10:54] #126 closed

[2017-09-09 12:21] SassNinja opened #131 "Development of v8"
@verlok as you might remember I'm needing an option to pass an element to `elements_selector` instead of a string.
I've just made a PR for this https://github.com/verlok/lazyload/pull/130

But unfortunately I can't use the latest version of lazyload because I can't stop supporting the IE completely plus iOS!
https://developer.mozilla.org/en-US/docs/Web/API/IntersectionObserver#Browser_compatibilit

[2017-09-09 14:31] verlok commented on #131
Absolutely yes, I'm maintaining both versions: 10 and 8 for the reason you mentioned. I'll evaluate and eventually merge this PR as soon as possible.

[2017-09-13 06:11] verlok commented on #129
I'm considering this closed. If it's not, feel free to open it again.

[2017-09-13 06:11] #129 closed

[2017-09-13 06:12] verlok commented on #128
I'm considering this closed. If it isn't, feel free to open it again.

[2017-09-13 06:12] #128 closed

[2017-09-13 06:58] verlok commented on #131
Closing this, as I'm maintaining v 8.x as well

[2017-09-13 06:58] #131 closed

[2017-09-13 10:50] verlok opened #132 "Restore support to IE9"
As suggested in #118

[2017-09-13 12:24] verlok commented on #127
@SassNinja I did it, but I think now it's tricky to use when the content changes.
See the example in the `demos/dynamic_content_nodeset.html` file.
It works at the first usage but when you add content dynamically and call the `update()` method, it doesn't work because it relies on the `elements_selector` option to select the newly updated children.
I think that the solution might be to pass the No

[2017-09-13 13:19] verlok commented on #127
@SassNinja I changed it like that --> https://github.com/verlok/lazyload/releases/tag/10.2.0
I tested it in the `demos/dynamic_content_nodeset.html` demo and it works correctly.
No need to change any of the script options, but you need to pass a NodeList object to the constructor and to the update method.

[2017-09-13 13:22] #127 closed

[2017-09-13 16:53] verlok commented on #132
Done in version version 10.3.0
To do in version 8.x

[2017-09-14 10:45] VSpoint opened #133 "Not work in Mobile Chrome 54.0"
The plugin not work on my mobile Chrome 54.0,
but if I comment this code
http://clip2net.com/s/3NJZi2r
it works amesome.

[2017-09-14 13:32] verlok commented on #132
Done in version 8.2.0

[2017-09-14 13:32] #132 closed

[2017-09-14 15:37] verlok commented on #133
If you need to support older versions of Chrome, I recommend to use version 8.2.0 of LazyLoad which doesn't use the Intersection Observer API, which is quite new.
You can read more about it in the [readme](README.md) file.

PS: Removing that line of code would make the images load all at once, so it's like not having any lazy load at all.

[2017-09-14 15:37] #133 closed

[2017-09-15 07:19] gsouf commented on #132
Tested and confirmed, works like a charm, thanks for your time!

[2017-09-16 08:06] chrisjansky opened #135 "MS Edge supported?"
Using the latest version (10.3.0) I can't get lazyload to work in MS Edge 15 (latest version). Is it supported and/or are there any special steps to make it work?

[code]
and
[code]

URL: http://www.via-electra.eu/2017/

Thanks!

[2017-09-18 12:57] verlok commented on #135
It's supposed to work, but I can't tell tell you for sure now, since I'm away from my Windows machine until the 26th. Is it working in other browsers?

[2017-09-18 13:02] verlok commented on #135
Could you report any error you receive in the browser console (F12 to open it on Edge)?

Is version 8 working on Edge? You could stick to that until I fix version 10 :)

[2017-09-19 07:52] chrisjansky commented on #135
Hello Andrea,
yes, it is working OK in Chrome and Safari. The funny thing is I don't seem to be getting any errors with 10.3.0:
![screen shot 2017-09-19 at 09 48 58](https://user-images.githubusercontent.com/5342612/30581319-014aa086-9d20-11e7-8361-31b630b8e2aa.png)

I'll try version 8 again, but I didn't have any luck with that before either.

[2017-09-19 08:16] verlok commented on #135
Thanks for the report.

If neither 10 nor 8 work on Edge, maybe the problem is related to the HTML errors that I see in your browser console?
It says that you're using a self closing tag and it can't be, that you should close it. Which tags is it referring to?

Please report your HTML and JS code here, that could help me to help you. :)

[2017-09-19 09:22] liepumartins commented on #135
I can confirm, that 10.3.0 did not work in Edge for me as well. No errors in console shown.
Now using 8.2.0, after setting `{data_src: 'src'}` it works.

Thank you!

[2017-09-19 21:07] chrisjansky commented on #135
Happy to confirm reverting to 8.2.0 and setting `data_src: 'src'` does the trick! I tried 8.2.0 before, but the `data_src` is apparently the critical part.

Thanks @liepumartins for the tip!

[2017-09-20 08:03] dooker opened #136 "callback_load on background image"
callback_load seems not to work on background images. I can see, when it's set with callback_set, but I have never seen the 'loaded' class to appear for the element

[2017-09-21 10:15] verlok commented on #136
That’s because it’s not possible to implement, since background images don’t fire a loaded event.

[2017-09-21 10:15] #136 closed

[2017-09-21 13:49] verlok commented on #135
@chrisjansky, what @liepumartin wrote is correct because the default options object changed between version 8 and 10. Find the docs in the README file of release 8 downloading the zip file [here](https://github.com/verlok/lazyload/releases/tag/8.2.0)

[2017-09-23 07:16] alkahtani opened #137 "Usage with Ionic 1 / AngularJS. Support of ng-src ?"
I would like to know if ng-src is supported , I have difficulties to use data-src as it seems this attr is not working in ionic , is their any possible resolution , I am stuck with my app huge number of images

[2017-09-23 14:39] verlok commented on #137
Hello. The lazy source must be in a data- attribute, but you’re not forced to use data-src, you can use anything else, for example data-whatever and pass it to the options of LazyLoad with `data_src`. See the docs on the readme file.

[2017-09-23 22:28] alkahtani commented on #137
Thank you verlok for your reply , here is what i have done so far but before i would like to give you quick brief about what i want to do , i am developing an app using ionic 1 , this app is to downloading 100 of stored images in firebase storage , i came into performance issue , now , i have stored lazyload.js from your repo , add it to my index page , initialize lzyloadoptions in my controller ,

[2017-09-23 22:45] alkahtani commented on #137
update ...
i have moved lazyload.js file from the index page to the page having issue with and it seems the ncaught error disappeared  now , i want to pass the lazy load options i have don the following :
1.added my tag as below
<img  data-hire="{{assetCollection[$index].URL}}"  class="photo_library"  />
2. window.lazyLoadOptions = {
              threshold: 50,
              data_src: data-hire

[2017-09-23 23:15] alkahtani commented on #137
UPDATE #2
here is my console and snapshot of my app grid ,the images shown like white boxes ,  please note i haven't added any css

![image](https://user-images.githubusercontent.com/13502824/30777890-428bbe8e-a0ce-11e7-9048-b8bde06ecd0c.png)

![image](https://user-images.githubusercontent.com/13502824/30777891-497970e2-a0ce-11e7-8ca8-bf8f52a81a46.png)

[2017-09-24 05:24] verlok commented on #137
Hey there, I appreciate that you solved some of the issues by yourself.
The issue you’re having now is due to a wrong option you’re passing. To read data from the `data-hire` attribute you need to pass only `hire` to the `data_src` option.

[2017-09-24 05:27] verlok commented on #137
In other words, you need to do:

[code]

[2017-09-24 08:53] alkahtani commented on #137
I have changed the as per recommended above but i got the same result , here is my code to give more insight
`<div class="row" ng-repeat="brick in assetCollection | limitTo:numberOfImagesToDisplay
               track by $index " ng-if="$index % 3 === 0">
                <div class="col col-33" ng-if="$index < assetCollection.length"  ng-click=PassSelectedimg({{$index}}) >
                    <img

[2017-09-25 02:47] verlok commented on #137
Thanks for sharing.
I’m not an expert in Ionic nor Angular so you will need to do some debugging to see what’s going wrong there.

Here’s some advices:
- include the unminified version of LazyLoad
- open Chrome web inspector, go to the scripts panel, locate the LazyLoad file and set a debug breakpoint in the `update` method

There, you can see how many images got selected and stored in the `_eleme

[2017-09-25 19:52] jackblackCH opened #138 "Examples in documentation are wrong. data-src instead of data-original"

[2017-09-25 21:45] verlok commented on #138
Right, the doc describes version 10, but if you use version 8 the default value is different. I will update it. Thanks

[2017-09-25 22:06] verlok commented on #138
Fixed that - added an IMPORTANT section at the beginning of the doc with the link to the older documentation which is now in a separate file.

[2017-09-25 22:06] #138 closed

[2017-09-26 07:04] verlok commented on #137
@alkahtani I updated my latest message with more information

[2017-09-26 08:34] npdung commented on #135
I replace
[code]

by

[code]

because when i debug on MS Edge "entry.isIntersecting" is null not boolean

[2017-09-26 10:08] aliasltb commented on #135
Coincidentially I had the same issue, but on Chrome 56 and lower and was searching for a solution right now. I tried the fix of npdung and this works! This is the correct answer on this issue.

[2017-09-26 15:11] alkahtani commented on #137
many thanks @verlok , sorry for being late to reply, i have been out of time last days , i will do a test and update you soon .

[2017-09-26 16:11] verlok commented on #135
I cannot debug on Edge 15 because my network administrator doesn't allow the update yet, and on at home a use a Mac. I think it's time to install a VM :D

Could you explain better why the condition in the `if` statement, meaning `(!entry.isIntersecting)` is not working on Edge? If the problem is that `entry.isIntersecting` is `null` as you explained, shouldn't it work anyway, since `!null` evaluat

[2017-09-26 17:06] verlok commented on #135
I found the bug documentation: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/12156111/

[2017-09-26 17:43] verlok commented on #135
Released 10.3.1

[2017-09-26 17:47] verlok commented on #135
@aliasltb @npdung let me know if version 10.3.1 works on MS Edge 15 please. Thanks

[2017-09-26 19:07] npdung commented on #135
@verlok thank for your update and bug documentation, it working.

[2017-09-26 20:59] Tabrisrp opened #139 "IntersectionObserver polyfill and performance"
Hi,

W3C is providing an official IntersectionObserver polyfill here: https://github.com/w3c/IntersectionObserver/tree/master/polyfill

Would it make sense to use it with version 10 of lazyload, compared to using version 8 without polyfill, in term of performance?

Is there any special configuration to be made for the polyfill to work with lazyload or will it work out of the box?

[2017-09-27 06:20] verlok commented on #139
Bonjour Rémy,
thanks for asking and congratulations for your website, awesome web typography and content.

Actually you’re not the first asking this, I got the same question on Twitter. Here’s what I think:

- In terms of loading performance, since the polyfill script is quite heavy compared to LazyLoad 8, downloading LazyLoad 10 + the polyfill would be worse, so be sure to load the polyfill condi

[2017-09-27 09:06] aliasltb commented on #135
@verlok  I updated your plugin to 10.3.1, but for me the loading behaviour is strange. I used this on Chrome 57 and all images do load as expected. But when I use lazyload in an owl carousel, the upcoming slides don't load the images - at least not immediately. With the solution of @npdung I works perfectly everywhere.

[2017-09-27 10:26] verlok commented on #135
You shouldn't lazy load images in carousels except using the native features of the carousels itself, for example, I know that slick slider (slick.js) has a feature too lazy load images outside the visible ones.

The solution that @npdung provided is working only because it immediately loads all the images on some browsers… but that's not lazy loading.

[2017-09-27 12:57] npdung commented on #135
@aliasltb  version 10.3.1 is work with owl carousel, on Chrome 61, MS Edge 15.

my product: https://tacavet.familala.com/

[2017-09-29 01:14] nunoguerra opened #140 "Cached Images"
Should not it display as images if they have already been cached?

[2017-09-29 06:54] verlok commented on #140
Hi there. I didn’t understand your question. Can you be clearer? Thanks

[2017-09-29 06:56] verlok commented on #140
PS: eu falo português, se quiser pode escrever no seu idioma :)

[2017-09-29 15:07] donsue opened #141 "Having console errors getting this implemented in a bootstrap website"
Are you reporting a bug or requesting a feature?

If it's a bug, it would be very useful to me if you answered the following questions.
Your answers will help me understand what's happening and enable me to reproduce the bug.

* What is happening?
* What is the expected behaviour?
* Which version of LazyLoad are you using?
* In which browser(s) and browser version(s) are you experiencing the probl

[2017-09-29 18:32] jr-cologne commented on #141
Since you are using version 8.2, you have to use `data-original` instead of `data-src` for the source of the image that should be loaded.

Furthermore, you need to use this JS code:

[code]

In case you want to use `data-src`, you can use this:

[code]

If you need more information, you can [read through the documentation of version 8 here](https://github.com/verlok/lazyload/blob/master/README_v8.

[2017-09-30 01:11] nunoguerra commented on #140
:)

Refiro-me às imagens que ficam na cache do browser ou seja depois de carregarmos uma página essas imagens ficam em cache internamente no browser, se fizermos um soft refresh ou se voltarmos a visitar a mesma página o browser vai usar a cache para oferecer um carregamento mais rápido e neste caso o layzload plugin deveria apresentar logo as imagens sem ter de as carregar novamente.

[2017-09-30 12:54] alkahtani commented on #137
I will update you ... so sorry it is out of my hand

[2017-09-30 17:15] verlok commented on #140
Muito obrigado pela explicação.
Tudo funciona como você descreveu. Quando o LazyLoad vai carregar as imagens porque entraram no viewport, o browser vai carregar as imagens dá cache invez que dá internet

[2017-09-30 17:28] nunoguerra commented on #140
Eu entendo que o LazyLoad faz isso. A minha questão é se será possível o LazyLaod apresentar directamente as imagens da cache no browser independentemente delas estarem no viewport ou não. Eu estou usando um placeholder para as imagens que ainda não estão carregadas e quando visito uma página que já visitei anteriormente essa página já tem as imagens na cache e em vez de aparecer o placeholder dev

[2017-09-30 21:50] verlok commented on #141
Thank you @jr-cologne, well done explanation! :)

[2017-09-30 21:50] #141 closed

[2017-09-30 21:54] verlok commented on #140
Agora entendi melhor o que você queria fazer.
Infelizmente não é possivel fazer isso porque a cache do browser não é exposta por nenhuma API.

[2017-09-30 21:54] #140 closed

[2017-10-02 08:58] davthu opened #142 "Chrome 54.0"
This library does not run in Chrome 54.0 (Both windows and Mac). Same code runs flawless in latest version of Chrome and IE. Using latest version of vanilla-lazyload version 10.3.1.

[2017-10-02 09:30] verlok commented on #142
Current version of chrome is 61, so Chrome 54 is quite old. Version 10 of LazyLoad is made only for modern browsers.
Have you tried version 8 of LazyLoad, which is the recommended version?

[2017-10-02 12:38] davthu commented on #142
Seems to work with version 8.2.0 👍

[2017-10-02 15:34] verlok commented on #142
Good to know!
Thanks

[2017-10-02 15:34] #142 closed

[2017-10-03 22:39] Tabrisrp commented on #139
Thank you for your answer and advices, makes choosing easier with your input! 👍

[2017-10-03 22:39] #139 closed

[2017-10-04 05:47] verlok commented on #139
I’m glad you appreciated it.
Cheers!

[2017-10-09 22:48] donsue commented on #141
Hi JR,

[2017-10-10 02:51] verlok commented on #141
Hi @donsue,
thank you for getting back to us.

I didn’t do that because I want to give the script users the freedom to decide when and how to execute the script.
The only thing that I changed upon a user’s request was to add the ability to execute the script asynchronously.

I took a look to your page and I noticed that the images can be shown overlapped sometimes. I think this must be because the

[2017-10-10 03:08] donsue commented on #141
I was hoping to add your responsive option but hadn’t got to it yet.  Is that the callback loaded option?

Susan Donohue
202-256-6121

[2017-10-11 13:21] verlok commented on #141
Hi there, not exactly. You can use the `callback_loaded` option  to execute some JavaScript code (a callback function) whenever an image finishes loading, in case you’re using some JavaScript to rearrange the images in the layout.

To use LazyLoad with responsive images  you just need to use the `src` and the `srcset` options as described in the README file, along with the `sizes` attribute or the

[2017-10-13 12:02] yekowele opened #143 "Not work in Samsung Internet Browser (Not Chrome)"
The plugin not work on Samsung Note 5 - Android 7.0 -  Samsung Internet Browser (5.4)

Is there way any fallback action?

[2017-10-13 23:39] verlok commented on #143
Please repoet the error that you are getting or the unexpected behavior and more importantly the version of LazyLoad that you are using. The recommended version is 8.2.x

[2017-10-14 08:38] yekowele commented on #143
@verlok I apologize for not specifying the version. It's my fault. Any way solved using version 8.2.x

Thank you for helping.

[2017-10-14 08:38] #143 closed

[2017-10-16 09:58] maksimize opened #144 "lazy load doesn't work in safari"
* What is happening?
All pictures are not lazy loaded in safari
* What is the expected behaviour?
picture supposed to be lazy loaded
* Which version of LazyLoad are you using?
just downloaded the demos from master and testsed with it
* In which browser(s) and browser version(s) are you experiencing the problem?
Safari desktop and I guess on mobile
* Could you provide the HTML, CSS and JS code you

[2017-10-16 10:39] maksimize commented on #144
Ignore that , I just read the md file

[2017-10-16 10:39] #144 closed

[2017-10-16 10:42] verlok commented on #144
LOL. Yes, switch back to version 8.2 to make it work correctly on Safari. Until Safari won’t update and support IntersectionObserver

[2017-10-19 21:42] verlok commented on #137
@alkahtani can we close this?

[2017-10-21 13:23] trompx commented on #84
Hello @verlok,

I don't know if this is the same issue, but I built a multiple column infinite scroller. When the user scrolls really fast, sometimes the element is added a bit late to the DOM and I guess it must be added when the lazyload thresold has been already passed. I am not sure though, no data-processed or loaded/dataset attribute is added to the elements, the data-src is still present an

[2017-10-23 09:15] alkahtani commented on #137
@verlok i couldn't get it work , i tried my best with no luck , if you feel you need to close this issue and re-open it again when both of us have time to do more work it is fine . i would like to appreciate every time you spend to reply and check or followup this issue. i promise to do more test on clean project if it is working i  will email you . this is my email "al-kahtani@hotmail.com"

[2017-10-23 15:04] verlok commented on #137
Yes @alkahtani please try this on a clean project and let me know.
Closing the issue in the meantime.
Thanks

[2017-10-23 15:04] #137 closed

[2017-10-23 15:18] verlok commented on #84
Hi @trompx,

first of all: Which version of LazyLoad are you using, 10.3.3 or 8.2.1? The recommended version for browser compatibility reasons is 8.2.1, but the most modern one in terms of image detection is 10.3.3 because it uses `IntersectionObserver`.

Second question: do the inserted `img` tags have a `min-height` set? If it did, you would obtain a better performance since less images would be

[2017-10-23 17:47] trompx commented on #84
Hello @verlok,

Thanks a lot for trying to help, I really appreciate.
In fact I use version 8.2.1 because I need mainly mobile compatibility.

I layout my multi columns in js so every element has a height calculated according to the image dimensions stored in db so every new appended image already fully occupies the space.

My bad, when I said I was using `update  `on each scroll, I meant that on

[2017-10-27 22:16] jquimera opened #147 "Add body class if class ".loading" active"
First, this plugin is wonderful. Congratulations on your great work!

I would like to know if it is possible to add a class in the body, when the class "loading" is active. Or add a class in the div that comes before the image, also based on the captivity of the class "loading"

Example:

`	<div class="post-thumbnail">
		<a href="#" title="My lazy IMG">
			<img data-src="https://hdwallpapersbuzz.c

[2017-10-28 20:43] verlok commented on #147
Hi @jquimera,
you could use the `callback_load` callback provided by the LazyLoad script in the options so you could execute code every time an image is fully loaded.
For example, you could check if there are still images with the loading class in the container, then add or remove classes in the container itself accordingly.

[2017-10-29 01:29] jquimera commented on #147
@verlok Was it something like this? I tested it here but it did not work.

[code]

[2017-10-29 16:45] verlok commented on #147
Yes, that is the `callback_load`.
Probably the code you’re writing inside the callback function is wrong :)

[2017-10-30 21:43] adriandmitroca commented on #135
Still not working on latest version of MS Edge.

[2017-10-30 21:52] verlok commented on #135
@adriandmitroca which version of LazyLoad are you using? The recommended (8.2.1) or the latest (10.3.3)? And what problem are you experiencing?

[2017-10-30 21:57] adriandmitroca commented on #135
I have tried basically all available versions - latest builds for 8, 9 and 10. None worked.

On 30 Oct 2017, 22:53 +0100, Andrea Verlicchi <notifications@github.com>, wrote:

[2017-10-30 22:00] verlok commented on #135
Thanks. With "none worked" you are not helping me to help you. What kind of problem were you experiencing? Did you get any javascript errors? Could you post the HTML and JS code you used? Thanks

[2017-10-31 10:13] adriandmitroca commented on #135
Sorry @verlok, I didn't mean it. I was referring to previous comments.

What I did was pretty much basic setup with just `data-src` attributes on `img` and initialization `new LazyLoad()`.

It worked great on all browsers, including IE9 except Edge, where images do not load at all.

[2017-10-31 10:20] warudin commented on #143
I'm having this problem as well, but in my case after updating to 8.2.x the problem wasn't solved.

I don't know how to get error messages or debug the Internet-browser on Android. I'm seeing no image, while a fallback in the <img> tag is provided. The site where this happens can be viewed here: [agro-chemie.nl](http://www.agro-chemie.nl)

Here's a screenshot of what happens:
![](https://performis

[2017-10-31 11:24] yekowele commented on #143
@warudin i think the cause of the problem another js error.
You can read the android remote device error messages using the method specified this link : https://developers.google.com/web/tools/chrome-devtools/remote-debugging/

[2017-10-31 12:51] verlok commented on #135
Hi @adriandmitroca,
you should definitely stick with version 8.x and use `data-original` instead of `data-src`.
In fact, the API was different in 8.2.x as stated in the m documentation provided in the README.md for that version (download the zip for version 8.x then read README.md).

Let me know if this solves.
Thanks!

[2017-10-31 12:54] verlok commented on #143
@warudin, please let me know if the comment from @yekowele helped

[2017-10-31 13:02] verlok commented on #135
Sorry, the option name is still `data_src` but the default option value is `original` so the HTML attribute it’s looking for is `data-original`.

Here the documentation: https://github.com/verlok/lazyload/blob/master/README_v8.md#api

Long story short, if you want to keep `data-src` in your HTML you just need to do:

[code]

[2017-10-31 15:57] warudin commented on #143
Thank you very much for the tip, @yekowele! I've found out the problem was related to a lack of height and width in a parent div.

[2017-11-02 13:41] jquimera commented on #147
@verlok thanks

[2017-11-02 16:06] #147 closed

[2017-11-02 20:49] KrzychuJedi opened #148 "Readme for v8 has examples to new version"
New and old read me have same links to examples and sources which is misleading and confusing.

[2017-11-02 22:41] verlok commented on #148
Yeah, you’re right. I need to organize it better. Maybe I should keep only one readme with all the examples and the demos for both versions. It would be clearer, wouldn’t it?

[2017-11-03 07:31] KrzychuJedi commented on #148
I think keeping it separately is good option (if links would be fixed ;) Putting this in one readme may be better but I don't know the API much.  It there possibility that describing differents for each version would make it hard for read?

[2017-11-07 13:07] jquimera opened #149 "Show image only when it is 100% loaded."
![show image](https://i.imgur.com/8OsMPQc.png)

[2017-11-08 16:13] verlok commented on #149
You can hide imges while they’re loading using CSS already, but I advice not to hide them since your users won’t be seeing nothing until loading is complete, and for the best practices about performance the sooner you show something, the better. Also, your SpeedIndex will improve and so your SEO.

[2017-11-08 17:26] #149 closed

[2017-11-08 19:30] lukehatfield opened #150 "Show images on demand?"
Is there a way to load all images in a container when a user triggers an event? I have some hidden slideshows that don't always get activated if they appear on screen and the user does not continue to scroll.

[2017-11-09 10:23] paambaati commented on #150
@lukehatfield Did you try initializing the library (`new LazyLoad();`) on your event trigger? That should do the trick.

[2017-11-09 22:09] lukehatfield commented on #150
@paambaati There are other lazy images on the page I don't want to load though. And unfortunately I've been taken off this task as the client is using a work-around. Thanks for your help anyway!

[2017-11-10 00:45] verlok commented on #150
Yes, if new images are added dynamically, you can use the `update` method in order to make LazyLoad consider them.
There’s a demo for this feature inside the `demos` folder.
Let me know if this solves.

[2017-11-12 19:10] xpander001 opened #151 "Class loading not being removed for background images"
I am trying to add a fade in effect for lazy loaded background images. However, looks like the loaded class is never added to the element.

Does that class work with background images? I see you have callbacks for load events on img tags, but cannot spot in the source code if you fire events for background image events. I think that according to the setSources method, the code relies on setting th

[2017-11-12 21:57] verlok commented on #151
Hi @xpander001,
thank you for writing this.

The reason why my script doesn't do anything when a background image is loaded is because there is no way to know when a background image is loaded in Javascript. Browsers simply won't fire any event or call any callback when a background image is loaded, and they don't because background images are meant for decorative purposes only, they could be remo

[2017-11-12 21:57] #151 closed

[2017-11-13 12:38] xpander001 commented on #151
Hi @verlok .

Thank you for your response. My reason to use background images instead of img tags if because I need to maintain the aspect ratio with cover in browsers as old as IE9 (So cannot use object fit).

I added a small workaround (terribly dirty, I know) is your library, that goes like this:

[code]

But at least for the moment is doing the job. What are the main drawbacks you see to this

[2017-11-13 15:07] leon opened #152 "Microsoft Edge"
Just spent an hour trying to get lazy loading working in microsoft edge.

What I realized is that for edge to fire the observer for an img element it must have a size.
Since img tags are inline as standard edge doesn't pick them up.
And since we don't have a src for the lazy loaded images the don't exist yet.

By setting
[code]

edge is able to see the images and they get loaded.

Could you please

[2017-11-13 17:45] mercuryyy commented on #152
leon thanks for this.

Are you able to find a work around for safari browsers?

[2017-11-13 22:56] verlok commented on #151
Hi and thank you for your reply.

The only drawback I see is a performance one. Users on slow connections, like on mobile or slow networks, will only see the image once loaded instead of while loading.

But hey, IE9, really? Are you sure that you have more than 0.5% of users coming to your website using that browser/version? Have you checked on Google Analytics?

[2017-11-13 23:00] verlok commented on #152
@leon: sure, will do. Thank you! I didn’t know that. Also, having a min-height in your images will prevent LazyLoad to detect ALL images inside the viewport at page landing, so I’d recommend to use a min-width that is really the minimum height of an image, not only just 1 pixel.

@mercuryyy: this is not possible, Safari still doesn’t support IntersectionObserver. Please hold on and stick with the

[2017-11-13 23:33] mercuryyy commented on #152
@verlok yes thats what i did but why not add to the 10.3.3 a safari fallback something like

`var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);`

So run the IntersectionObserver on chrome/ie/ff and fallback to 8.2.1 on safari ?

[2017-11-14 06:36] verlok commented on #152
Because the two versions of LazyLoad  are very different one from each other, 8.x has code that listens to the scroll and resize events, whereas 10.x used IO and has totally different code.
Implementing any internal switch would result in a much heavier script with both versions’ code, and we all want our scripts to be lightweight, don’t we?

Instead, you could do a check on whether `IntersectionO

[2017-11-14 07:13] verlok commented on #152
Hey @mercuryyy,
thank you for the inspiration!

Here's the code you could use to download LazyLoad 8.x or 10.x conditionally, and auto-instantiate it on the page. So you would have a modern script where IntersectionObserver is supported, and a fallback for where it isn't.

[code]

This code was tested and it works. I've created a new demo in the demos folder, named conditional_load.html, check it

[2017-11-14 07:30] xpander001 commented on #151
@verlok requirements... :)

[2017-11-15 15:15] mercuryyy commented on #152
Thank you!

[2017-11-15 17:39] mercuryyy commented on #152
@verlok  solution is working but in 8.2.1 when running is safari some of the same images are being downloaded 3-5 times for no reason, cant seem to figure out why.

[2017-11-15 21:58] verlok commented on #152
@mercuryyy we're gone way off topic here, anyway I just tested it on Safari and it behaves correctly. Can you open another issue and be more specific? Thanks

[2017-11-15 22:06] #152 closed

[2017-11-15 22:07] verlok commented on #152
@leon done! Could you specify the version of MS Edge you encountered the problem on?

[2017-11-15 22:09] #150 closed

[2017-11-16 01:39] mercuryyy opened #153 "V8 with Safari re requesting same images multiple times."
So running v8.2.1 looking at network tab same images are being requested multiple times as user scrolls down the page.

Verlok i sent you an email with the url, private can not share here.

Thank you.

[2017-11-16 03:44] verlok commented on #153
I’ve tested my script on the demo page and it works good. So you’ll need to share the HTML code and the JS code you’re using for the images.
I won’t go debugging on your website, sorry. Just post the code here so everyone can benefit.
Thanks

[2017-11-16 04:07] mercuryyy commented on #153
im not sure what there is to post? the code is implemented correctly images a rendering on safari but get called multiple times while scrolling.  perhaps there is something else that is causing the liseners to reload the images multiple times, i know my way around js, i tried debuging but not familiar with your script i'd have to add console logs to each step to start debuging i thought maybe you'

[2017-11-16 05:29] verlok commented on #153
Don’t take it that bad, I just wanted you to post the HTML code you’re using for one of your images, and the JS code you’re using to initialize LazyLoad.
Can you do that?

[2017-11-17 16:18] phuongleduy opened #154 "Issue on mobile"
Hi, all.
 I have a issues on device mobile. please help me.

[2017-11-18 00:35] verlok commented on #154
Hi,
in order to get help please describe the issue, the code you are using (html and js) and the version of LazyLoad you’re getting the issue on.

[2017-11-18 03:13] phuongleduy commented on #154
This is version and my script
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.2.0/lazyload.min.js"></script>
<script>
	new LazyLoad({threshold: 50,elements_selector: 'img.lazyLoad'});
</script>
Thanks a lot.

[2017-11-18 06:17] verlok commented on #154
Thanks.
Everything should be working fine.

Are the script placed AFTER your HTML (so to be sure the DOM is ready when the JS is executed)?

What is the issue you are having?

[2017-11-18 06:18] verlok commented on #154
By the way, I see you didn’t use the `img` tag, but I took it for a copy/paste error, or markdown trying to use it as an image. But you did use the tag, right?

[2017-11-18 09:33] phuongleduy commented on #154
@verlok thanks you, i solved the issue, but image load on mobile so slow.

[2017-11-18 10:27] verlok commented on #154
You should really use responsive images in order to make mobile phones use a smaller version of the image.
Google “responsive images” to find out more.
My LazyLoad script supports responsive images so you will have best results on mobile too.

[2017-11-18 10:27] #154 closed

[2017-11-18 10:28] verlok commented on #153
@mercuryyy did you solve the problem?

[2017-11-19 20:57] verlok commented on #148
Released 8.5.0 with the same API as version 10. Solved 😄

[2017-11-19 20:57] #148 closed

[2017-11-20 19:49] delideha opened #155 "Cannot read property 'tagName' of null"
Hi, I'm fronting this issue. my img tags are like below.

`<img src="/sites/veganbahcesi/layouts//images/loader.gif" class="lazy img-responsive" data-src="/sites/veganbahcesi/uploads/products/4/medium/06cabb41c30e355ae3fa6e2365c6c1ad.jpg" alt="Vegan Sade Tost">`

**the error is on console :**
Uncaught TypeError: Cannot read property 'tagName' of null
    at setSourcesForPicture (lazyload.js:65)

[2017-11-20 20:36] verlok commented on #155
Hi there,
could you tell me in what browser and version you get the error?

Also, could you post the HTML code of the `img`'s container? It's kinda strange that your `img` tags don't have a parent element, right? It should be `body`, ad least.

[2017-11-20 20:53] verlok commented on #155
I tried different cases but never found one where an `img`'s `parentElement` could be null.
The only case would be when you create an `img` but you don't attach it to the DOM ([see here](Have a look here, https://codepen.io/verlok/pen/wPyXXR?editors=0010 )).
But in this case, I can't see how LazyLoad could be useful.

[2017-11-24 06:18] verlok commented on #155
@delideha did you solve?

[2017-11-24 11:03] delideha commented on #155
Yeapp, it seems working fine. Thanks 😊.

Windows 10 için Posta<https://go.microsoft.com/fwlink/?LinkId=550986> ile gönderildi

________________________________
Gönderen: Andrea Verlicchi <notifications@github.com>
Gönderildi: Friday, November 24, 2017 9:18:27 AM
Kime: verlok/lazyload
Bilgi: Gökhan Özergen; Mention
Konu: Re: [verlok/lazyload] Cannot read property 'tagName' of null (#155)

@delideha

[2017-12-09 22:21] AndrewCraswell opened #157 "Is simple defer of image loading supported?"
I can't find this mentioned in the docs, but is it possible to use this library to defer image loading until the page loads? I already use lazyload to load in a bunch of images way at the bottom of the page where most users don't scroll to, but there are some images nearer the top of the page that I'd like to load regardless of whether it's in the viewport, I'd just prefer them to be deferred unti

[2017-12-10 16:29] verlok commented on #157
Sure, if you already use LazyLoad to load your images, you could instantiate a second LazyLoad and make it load only those images. For example, if you already do:

[code]

You could instantiate ANOTHER lazyload for the deferred images only at window.onload. So:

[code]

This would load the `img.defer` images (that are inside the viewport), at the window load time.

The markup for the deferred imag

[2017-12-10 16:32] verlok commented on #157
PS: I saw you starred a lot of lazyload scripts, but not mine. I'm a little bit jealous now. ;) Will you star mine too?

[2017-12-13 05:20] AndrewCraswell commented on #157
Done, and done! Thanks so much! :)

[2017-12-13 05:20] #157 closed

[2017-12-13 06:41] verlok commented on #157
Awesome. Thanks! :)

[2017-12-18 20:01] alvarotrigo opened #159 "Possibility to apply lazyload to any element"
I'm not quite sure if this is already possible or not, but as far as I was able to test, it is not.

I would like to make use of lazyload in elements that has no image or `src` attribute at all. For example, to `<div class="test"></div>`

[Reproduction online](https://jsfiddle.net/hmqg7hxb/) where you can see the image loads and fires the callback but not the `div` element.

The reason for it is s

[2017-12-18 21:22] verlok commented on #159
Hi @alvarotrigo,
thank you for the suggestion, this is a very good idea and a very small code change is required.
I'd introduce a new callback called `callback_enter` that would be called when the element enters the viewport (considering "threshold").
What do you think?

[2017-12-18 22:12] verlok commented on #159
I did it. And released it under the version tag 10.4.0.
When it will be on CDNJS, this fork of your fiddle shoud work https://jsfiddle.net/cqwjL3ku/

Let me know if we're good :)

[2017-12-18 23:56] alvarotrigo commented on #159
Awesome!
I'm not quite sure what's inside the `dist` folder. Is it version 8 or version 10? Should I assume its 8?
Didn't see any comment credits or property within the lazyLoad object with its version.

Using npm install it seems I get version 8.5.2, but then the latest release is 10.4.x.
How does this work?
Did you update it in version 8 too?

[2017-12-19 05:14] verlok commented on #159
You’re right, I did it all in a hurry yesterday night and I forgot to update the `dist` folder, and to run `npm publish`. Will fix it soon.
Version 8.x is still not updated. I wanted to be sure that this was working as you expected on version 10 beforehand.
I’ll let you know.
Thanks for your patience.

[2017-12-19 05:36] verlok commented on #159
Just released the fix as 10.4.1. Also on npm.
You can use it like that:

[code]

Let me know!

[2017-12-19 10:46] alvarotrigo commented on #159
Yeap! Thanks for that! Working as expected!
Let me know when it's available in version 8.

By the way, how can I install both version with npm to make use of [the conditional loading](https://github.com/verlok/lazyload#advanced-and-best-option-conditionally-load-version-8-or-10)? (without using the CDN :) )

[2017-12-20 21:25] verlok commented on #159
Hi @alvarotrigo,
the fix is now available in both versions 10.4.1 and in 8.6.0.

\o/ yay! I'm closing the issue now.

We were figuring out today and I think that you can't, meaning you must use the CDN.
If you figure something out to do that, please let me know.

[2017-12-20 23:52] Tabrisrp opened #160 "Infinite scroll support"
Hi,

More a question than a bug report. On a website with infinite scrolling, so new elements are added to the DOM asynchronously, the script is currently not able to detect them automatically right?

If correct, is this something that would be possible in the future? Also, in that case, the current way to load new images added to the DOM is through the update() method?

[2017-12-21 01:28] #159 closed

[2017-12-21 01:46] verlok commented on #160
Hi @Tabrisrp,
all that you wrote is correct: the script is currently unable to detect new elements, so you'll have to call `update()` on the LazyLoad instance when new content gets added to the page.

We have a couple of demos for using LazyLoad with dynamic content, [here](https://github.com/verlok/lazyload/blob/master/demos/dynamic_content.html) passing a selector and [here](https://github.com/v

[2017-12-21 01:49] verlok commented on #160
Ah, if you add LazyLoad asynchronously, you can still assign the automatically created instance of LazyLoad to a variable. The code for this is [here](https://github.com/verlok/lazyload/blob/master/demos/async.html) and there's also a "recipe" in the [readme](README.md) file, under the heading "Auto init + store the instance in a variable"

[2017-12-21 02:09] verlok commented on #160
There's a way, though, to make LazyLoad auto-update when new content gets added to the page.

It can be done using the MutationObserver API ([see here](https://developer.mozilla.org/it/docs/Web/API/MutationObserver)) either in the hosting website's script or in the LazyLoad script itself.

The only constraint is that MutationObserver only works starting from IE11, and some LazyLoad users want to u

[2017-12-21 11:53] alvarotrigo commented on #159
Thanks for that!! ;)

[2017-12-21 11:56] alvarotrigo opened #161 "Not using requestanimationframe ?"
This is just a question out of curiosity.

I noticed you seem to be using a `setTimeout` function instead of `requestanimationframe` to loop and check the scroll value.

Is there a reason behind it? I would though [requestAnimationFrame is better in terms of reducing unnecessary operations](https://stackoverflow.com/questions/38709923/why-is-requestanimationframe-better-than-setinterval-or-settime

[2017-12-21 15:07] Tabrisrp commented on #160
Thank you very much for your answers, I was able to make the auto-update with MutationObserver, seems to be working perfectly!

Support of old browsers is not really an issue for me, so it's all good!

[2017-12-21 15:58] verlok commented on #161
The `setTimeout` function is used only to throttle the calls to the scroll / resize handler function. It's used only on version 8 since the `IntersectionObserver` doesn't need to.

[2017-12-21 16:22] alvarotrigo commented on #161
Wouldn't it be a performance improvement to use `requestAnimationFrame` in version 8 at the moment?

Browsers like IE 11 or Safari [don't seem to support `Intersectionobserver`](https://caniuse.com/#feat=intersectionobserver) but [they do support `requestanimationframe`](https://caniuse.com/#feat=requestanimationframe). And for older browsers [there's a polyfill](https://gist.github.com/paulirish/

[2017-12-21 16:35] verlok commented on #161
Yes it would, I didn't do it until now because I didn't focus on improving performance in version 8.
I just looked up whether or not it's possible to use requestAnimationFrame to debounce scroll handlers.
It seems that [it's possible](https://gomakethings.com/debouncing-events-with-requestanimationframe-for-better-performance/).

[2017-12-22 06:40] verlok commented on #160
Great! Just yesterday I was playing around with MutationObserver too. I’d like to integrate it in the script, but I need to better understand how it works in the depths of the DOM chain.

Could you please copy and paste the MutationObserver-related part of your code here?

That would help.

[2017-12-22 13:46] Tabrisrp commented on #160
It's pretty straight-forward, I'm not that much versed in JS so there might be a better way to do this

[code]

[2017-12-22 19:47] Tabrisrp commented on #155
I seem to still have this error showing on some websites, with 10.3.5, but only on Chrome.

It doesn't seem to prevent the script from working either, since I can see the src correctly set and the class `lazyloaded` added.

I'm reporting it but I have no idea with it's triggering. I could give you the HTML if you'd like to have a look.

[2017-12-24 22:25] verlok commented on #161
Hi @alvarotrigo,

I've read [this article](https://css-tricks.com/debouncing-throttling-explained-examples/) thoroughly, and not I've got an answer to your question.

The answer is no, `requestAnimationFrame` wouldn't be a performance improvement.

The reason is that the `throttle` function used internally by LazyLoad makes sure that the `scroll` event is executed not faster than every 150 ms (by

[2017-12-25 06:49] verlok commented on #155
Yes please, the parts of HTML and JS related to LazyLoad (your images and the LazyLoad initialization).
Thanks

[2017-12-25 22:16] alvarotrigo commented on #161
Yeap, totally clear now :) Make sense.

[2017-12-25 22:16] #161 closed

[2018-01-04 18:02] ikanedo opened #162 "Why is isBelowViewport function using the container height as the fold?"
Hi,

In 8.5.2 version, we have the following **isBelowViewport** function

[code]

I was just wondering, why does the function use the container bottom offset as the fold if the container is not the window object? This would mean that if the container is bigger than the viewport then all of the images within the container are loaded in the initial page load. Is this the expected behaviour?

See sa

[2018-01-04 20:37] verlok commented on #162
Hi @ikanedo,
you’re right. Could you do a pull request to fix this?
Thanks